In [1]:
import pandas as pd
import numpy as np
import re

In [2]:
sales = pd.read_csv('sales_mod.csv')

/tmp/ipykernel_1976943/1754691465.py:1: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  sales = pd.read_csv('sales_mod.csv')

In [3]:
sales.buyer_name = sales.buyer_name.str.encode('ascii', 'ignore').str.decode('ascii')
sales.seller_name = sales.seller_name.str.encode('ascii', 'ignore').str.decode('ascii')
sales.buyer_name = sales.buyer_name.str.replace(r'[^a-zA-Z0-9\-]', ' ', regex=True).str.strip()
sales.seller_name = sales.seller_name.str.replace(r'[^a-zA-Z0-9\-]', ' ', regex=True).str.strip()

In [4]:
entity_keywords = r"llc| ll$| l$|l l c|estate|training|construction|building|masonry|apartments|plumbing|service|professional|roofing|advanced|office|\blaw\b|loan|legal|production|woodwork|concepts|corp| company| united|\binc\b|county|entertainment|community|heating|cooling|partners|equity|indsutries|series|revitalization|collection|agency|renovation|consulting|flippers|estates|\bthe \b|dept|funding|opportunity|improvements|servicing|equities|sale|judicial| in$|bank|\btrust\b|holding|investment|housing|properties|limited|realty|development|capital|management|developers|construction|rentals|group|investments|invest|residences|enterprise|enterprises|ventures|remodeling|specialists|homes|business|venture|restoration|renovations|maintenance|ltd|real estate|builders|buyers|property|financial|associates|consultants|international|acquisitions|credit|design|homeownership|solutions|home|diversified|assets|family|land|revocable|services|rehabbing|living|county of cook|fannie mae|land|veteran|mortgage|savings|lp$"

def get_id(row, col: str):

    column = col + '_name'
    words = str(row[column]).lower()

    words = re.sub(r' amp ','', words)
    words = re.sub(' +', ' ', words)

    if words.isspace() or re.search(r'^[.]*$', words):
        id = 'Empty Name'
        return id

    if any(x in words for x in ['vt investment corpor', 'v t investment corp']):
        return 'vt investment corporation'

    if any(x in words for x in ['first integrity group inc', 'first integrity group in']):
        return 'first integrity group inc'

    if words in ['deutsche bank national tr']:
        return 'deutsche bank national trust company'

    if any(x in words for x in ['cirrus investment group l', 'cirrus investment group']):
        return 'cirrus investment group'

    if any(x in words for x in ['fannie mae aka federal na',  'fannie mae a k a federal', 'federal national mortgage']):
        return 'fannie mae'

    if any(x in words for x in ['the judicial sales corpor', 'judicial sales corp', 'judicial sales corporatio', 'judicial sale corp', 'the judicial sales corp']):
        return 'the judicial sales corporation'

    if any(x in words for x in ['jpmorgan chase bank n a', 'jpmorgan chase bank nati']):
        return 'jp morgan chase bank'

    if any(x in words for x in ['wells fargo bank na',  'wells fargo bank n a',  'wells fargo bank nationa',  'wells fargo bank n a a']):
        return 'wells fargo bank national'

    if any(x in words for x in ['bayview loan servicing l',  'bayview loan servicing ll']):
        return 'bayview loan servicing llc'

    if any(x in words for x in ['thr property illinois l', 'thr property illinois lp']):
        return 'thr property illinois lp'

    if any(x in words for x in ['ih3 property illinois lp', 'ih3 property illinois l']):
        return 'ih3 property illinois lp'

    if any(x in words for x in ['ih2 property illinois lp', 'ih2 property illinois l']):
        return 'ih2 property illinois lp'

    if any(x in words for x in ['secretary of housing and',  'the secretary of housing', 'secretary of housing ']):
        return 'secretary of housing and urban development'

    if any(x in words for x in ['secretary of veterans aff', 'the secretary of veterans']):
        return 'secretary of veterans affairs'

    if any(x in words for x in ['bank of america n a', 'bank of america na', 'bank of america national',]):
        return 'bank of america national'

    if any(x in words for x in ['us bank national association', 'u s bank national assoc', 'u s bank national associ', 'u s bank trust n a as', 'u s bank n a', 'us bank national associat', 'u s bank trust national']):
        return 'us bank national association'

    words = re.sub('suc t$|as succ t$|successor tr$|successor tru$|successor trus$|successor trust$|successor truste$|successor trustee$|successor t$|as successor t$',
                   'as successor trustee', words)
    words = re.sub('as t$|as s t$|as sole t$|as tr$|as tru$|as trus$|as trust$|as truste$|as trustee$|as trustee o$|as trustee of$|trustee of$|trustee of$|tr$|tru$|trus$|truste$|trustee$|, t|, tr|, tru|, trus|, trust|, truste',
                   'as trustee', words)
    words = re.sub('su$|suc$|succ$|succe$|succes$|success$|successo$|successor$|as s$|as su$|as suc$|as succ$|as succe$|as sucess$|as successo$|, s$|, su$|, suc$|, succ$|, succe$|, succes$|, success$|, successo$',
                   'as successor', words)

    if re.search(entity_keywords, words) or re.search(r'\d{4}|\d{3}', words) or re.search('as trustee$|as successor$|as successor trustee$', words):
        id = words
        return id

    words = re.sub(' in$|indi$|indiv$|indivi$|indivi$|individ$|individu$|individua$|individual$|not i$|not ind$| ind$| inde$|indep$|indepe$|indepen$|independ$|independe$|independen$|independent$',
                   '', words)

    tokens = split_logic(words)

    id = name_selector(tokens)

    return id


def split_logic(words: str):

    words = re.sub(' +', ' ', words)

    if words.isspace() or re.search(r'^[.]*$', words) or words == 'Empty Name':
        return 'Empty Name'

    words = re.sub(' as$| as $|as $','', words)

    _and = re.search(r'\b and\b|\b an$\b|\b a$\b|f k a|\bfka\b| n k a|\bnka\b|\b aka\b|a k a|\b kna\b|k n a| f k$|n k$|a k$|\b not\b| married', words)

    if _and:
        tokens = words.split(_and.group())
        tokens = tokens[0].strip().split()
    else:
        tokens = words.split()

    return tokens


def name_selector(tokens):
    if tokens == 'Empty Name':
        return tokens

    if tokens[-1] in ['jr', 'sr', 'ii', 'iii', 'iv', 'v']:
        tokens = tokens[:-1]
    if len(tokens) == 2:
        id = tokens[1]
    if len(tokens) == 3:
        id = tokens[2]
    else:
        id = tokens[-1]

    return id

In [5]:
def get_category(row, col: str):

    column = col + '_id'
    words = row[column]

    if re.search(entity_keywords, words):
        return 'legal_entity'
    elif words == 'Empty Name':
        return 'none'
    else:
        return 'person'

In [6]:
def get_role(row, col: str):
    role = None
    column = col + '_id'
    words = row[column]

    suc_trust = re.search(' as successor trustee' , words)
    suc = re.search(' as successor' , words)
    trust = re.search(' as trustee' , words)

    if suc_trust:
        role = suc_trust.group()

    if suc:
        role = suc.group()

    if trust:
        role = trust.group()

    return role


def clean_id(row: object, col: str):
    column = col + '_id'
    words = row[column]

    words = re.sub(r' as successor trustee|\b as successor\b| as trustee', '', words)
    words = re.sub(' as$| as $|as $','', words)

    if not (re.search(entity_keywords, words) or re.search(r'\d{4}|\d{3}', words) or len(words.split()) == 1):
        words = name_selector(split_logic(words))

    return words

In [7]:
def transaction_type(row):
    buyer = row['buyer_category']
    seller = row['seller_category']

    return buyer + '-' + seller

In [8]:
sales['buyer_id'] = sales.apply(get_id, args=('buyer',), axis=1)
sales['seller_id'] = sales.apply(get_id, args=('seller',), axis=1)
sales['buyer_category'] = sales.apply(get_category, args=('buyer',), axis=1)
sales['seller_category'] = sales.apply(get_category, args=('seller',), axis=1)
sales['buyer_role'] = sales.apply(get_role, args=('buyer',), axis=1)
sales['seller_role'] = sales.apply(get_role, args=('seller',), axis=1)
sales['buyer_id'] = sales.apply(clean_id, args=('buyer',), axis=1)
sales['seller_id'] = sales.apply(clean_id, args=('seller',), axis=1)
sales['transaction_type'] = sales.apply(transaction_type, axis=1)

In [9]:
sales.head(50)

,Unnamed: 0,township_code,class,pin,year,sale_date,sale_price,sale_price_log10,sale_key,doc_no,...,outlier_std_lower,outlier_std_upper,outlier_description,buyer_id,seller_id,buyer_category,seller_category,buyer_role,seller_role,transaction_type
0,0,29,295,2092050370000,2019.0,2019-05-01 00:00:00+00:00,201000.0,5.303196,96812985.0,1915417094,...,NaN,NaN,NaN,kwenamore,salamacha,person,person,None,None,person-person
1,1,72,205,20311070380000,2019.0,2019-09-01 00:00:00+00:00,215000.0,5.332438,98075139.0,1927355080,...,NaN,NaN,NaN,lopez-ramirez,niles holding llc,person,legal_entity,None,None,person-legal_entity
2,2,24,206,10201120410000,2018.0,2018-07-01 00:00:00+00:00,540000.0,5.732394,97373057.0,1822817046,...,NaN,NaN,NaN,doyle,alongi,person,person,None,None,person-person
3,3,27,203,16183030040000,2022.0,2022-02-11 00:00:00+00:00,595000.0,5.774517,7321053.0,2206001050,...,NaN,NaN,NaN,lee-kim,thierauf,person,person,None,None,person-person
4,4,24,203,10272320440000,2020.0,2020-04-01 00:00:00+00:00,285000.0,5.454845,96592558.0,2019607192,...,NaN,NaN,NaN,jabouri,prgam,person,person,None,None,person-person
5,5,39,203,24081290130000,2022.0,2022-02-28 00:00:00+00:00,165000.0,5.217484,7323370.0,2207407612,...,NaN,NaN,NaN,Empty Name,fredrick,none,person,None,None,none-person
6,6,33,234,15011010390000,2020.0,2020-12-29 00:00:00+00:00,480000.0,5.681241,7127160.0,2102855154,...,NaN,NaN,NaN,curtis,limperis,person,person,None,None,person-person
7,7,72,212,19152070400000,2020.0,2020-03-01 00:00:00+00:00,460000.0,5.662758,98039143.0,2009307291,...,NaN,NaN,NaN,vale properties llc,garcia,legal_entity,person,None,None,legal_entity-person
8,8,24,203,10271020260000,2020.0,2020-10-13 00:00:00+00:00,445000.0,5.648360,7093981.0,2031439185,...,NaN,NaN,NaN,souhlas,Empty Name,person,none,None,None,person-none
9,9,24,203,10271020260000,2019.0,2019-10-01 00:00:00+00:00,235000.0,5.371068,98223289.0,1928845114,...,NaN,NaN,NaN,rb property holdings llc,caullieres,legal_entity,person,None,None,legal_entity-person
10,10,15,211,16332030190000,2018.0,2018-09-01 00:00:00+00:00,214900.0,5.332236,97930207.0,1827118027,...,NaN,NaN,NaN,rodriguez,calzada,person,person,None,None,person-person
11,11,22,278,9131000800000,2019.0,2019-06-01 00:00:00+00:00,710000.0,5.851258,97889329.0,1919922021,...,NaN,NaN,NaN,skillicorn,dolby,person,person,None,None,person-person
12,12,76,211,16364000080000,2018.0,2018-10-01 00:00:00+00:00,118000.0,5.071882,97299586.0,1831319495,...,-2.042376,0.558806,NaN,vazquez,sol,person,person,None,None,person-person
13,13,77,278,14314220210000,2021.0,2021-08-25 00:00:00+00:00,1031500.0,6.013469,7242006.0,2127028743,...,NaN,NaN,NaN,kochelek,rodriguez,person,person,None,None,person-person
14,14,24,203,10163200480000,2020.0,2020-07-01 00:00:00+00:00,287000.0,5.457882,97520196.0,2027447085,...,NaN,NaN,NaN,bolt,nedoss,person,person,None,None,person-person
15,15,71,295,13094300590000,2018.0,2018-05-01 00:00:00+00:00,286000.0,5.456366,98114793.0,1815129037,...,NaN,NaN,NaN,alderton,ramos,person,person,None,None,person-person
16,16,28,234,27252120050000,2019.0,2019-07-01 00:00:00+00:00,245000.0,5.389166,97517996.0,1920008051,...,NaN,NaN,NaN,sander,lundy,person,person,None,None,person-person
17,17,28,234,27252120050000,2020.0,2020-09-11 00:00:00+00:00,270000.0,5.431364,7093933.0,2031838086,...,NaN,NaN,NaN,tostado,sander,person,person,None,None,person-person
18,18,75,203,10362040010000,2020.0,2020-01-01 00:00:00+00:00,347500.0,5.540955,97735936.0,2003155130,...,NaN,NaN,NaN,snl9 llc,jotkowitz,legal_entity,person,None,None,legal_entity-person
19,19,29,234,2012080060000,2021.0,2021-08-09 00:00:00+00:00,340000.0,5.531479,7246041.0,2126634074,...,NaN,NaN,NaN,boguszewski,mayerbock,person,person,None,None,person-person
20,20,39,203,24101270370000,2022.0,2022-03-28 00:00:00+00:00,313900.0,5.496791,7322200.0,2209021103,...,NaN,NaN,NaN,pettas,schuld,person,person,None,None,person-person
21,21,37,278,29363080080000,2021.0,2021-12-28 00:00:00+00:00,380000.0,5.579784,7296242.0,2202155071,...,NaN,NaN,NaN,muldrow,hobson,person,person,None,None,person-person
22,22,72,205,25064020130000,2019.0,2019-05-01 00:00:00+00:00,412000.0,5.614897,96182222.0,1915818054,...,NaN,NaN,NaN,gorden,brady,person,person,None,None,person-person
23,23,76,211,17314120190000,2018.0,2018-12-01 00:00:00+00:00,221000.0,5.344392,98256241.0,1836134037,...,NaN,NaN,NaN,vt investment corporation,the judicial sales corporation,legal_entity,legal_entity,None,None,legal_entity-legal_entity
24,24,35,234,7261160050000,2019.0,2019-03-01 00:00:00+00:00,330000.0,5.518514,96700764.0,1907955198,...,NaN,NaN,NaN,chan,koprowski,person,person,None,None,person-person
25,25,72,205,19362161140000,2019.0,2019-11-01 00:00:00+00:00,78300.0,4.893762,96850892.0,1932906054,...,NaN,NaN,NaN,seem group llc,the judicial sales corporation,legal_entity,legal_entity,None,None,legal_entity-legal_entity
26,26,72,205,19362161140000,2020.0,2020-06-01 00:00:00+00:00,197000.0,5.294466,97816729.0,2019622015,...,NaN,NaN,NaN,knight,seem group llc,person,legal_entity,None,None,person-legal_entity
27,27,13,234,28364080040000,2020.0,2020-12-08 00:00:00+00:00,196560.0,5.293495,7121736.0,2101239053,...,NaN,NaN,NaN,jefferson,Empty Name,person,none,None,None,person-none
28,28,39,278,24122250360000,2021.0,2021-03-04 00:00:00+00:00,449500.0,5.652730,7204609.0,2116139068,...,NaN,NaN,NaN,endicott,glover,person,person,None,None,person-person
29,29,12,278,33074040010000,2019.0,2019-07-01 00:00:00+00:00,160600.0,5.205746,96145623.0,1919755036,...,-1.256622,0.896080,NaN,secretary of housing and urban development,bank of america national,legal_entity,legal_entity,None,None,legal_entity-legal_entity
30,30,12,278,33074040010000,2019.0,2019-11-01 00:00:00+00:00,141000.0,5.149219,97667215.0,1935740004,...,-2.088741,1.958541,NaN,mary s lane llc,us dept of hud,legal_entity,legal_entity,None,None,legal_entity-legal_entity
31,31,12,278,33074040010000,2020.0,2020-05-01 00:00:00+00:00,247000.0,5.392697,97964472.0,2026522014,...,-2.088741,1.958541,NaN,cattron,marys lane parakeet llc,person,legal_entity,None,None,person-legal_entity
32,32,30,203,23032040450000,2021.0,2021-09-20 00:00:00+00:00,309500.0,5.490661,7261954.0,2129949225,...,NaN,NaN,NaN,golla,rinck,person,person,None,None,person-person
33,33,29,278,2183130080000,2018.0,2018-06-01 00:00:00+00:00,497500.0,5.696793,98040850.0,1817025054,...,NaN,NaN,NaN,hegde,riccetti,person,person,None,None,person-person
34,34,35,234,7163090020000,2019.0,2019-05-01 00:00:00+00:00,275000.0,5.439333,98407226.0,1915733299,...,NaN,NaN,NaN,martin,liu,person,person,None,None,person-person
35,35,22,203,9272220020000,2022.0,2022-02-28 00:00:00+00:00,355000.0,5.550228,7318477.0,2207006384,...,NaN,NaN,NaN,schipp,boshenz,person,person,None,None,person-person
36,36,23,203,5193200110000,2021.0,2021-01-15 00:00:00+00:00,475000.0,5.676694,7137511.0,2104717036,...,NaN,NaN,NaN,ahlstrom,graf,person,person,None,None,person-person
37,37,76,211,17294270430000,2018.0,2018-02-01 00:00:00+00:00,236000.0,5.372912,97298082.0,1805841021,...,NaN,NaN,NaN,huang,carrington,person,person,None,None,person-person
38,38,29,278,2224050240000,2018.0,2018-06-01 00:00:00+00:00,450000.0,5.653213,97039629.0,1821112011,...,NaN,NaN,NaN,kodall,jagielo,person,person,None,None,person-person
39,39,25,204,4204160060000,2021.0,2021-03-05 00:00:00+00:00,515000.0,5.711807,7153122.0,2108512222,...,NaN,NaN,NaN,torres,lyalin,person,person,None,None,person-person
40,40,77,212,14314140560000,2018.0,2018-12-01 00:00:00+00:00,1570000.0,6.195900,96439053.0,1835519000,...,NaN,NaN,NaN,1649 west cortland llc,jakeluc realty group llc,legal_entity,legal_entity,None,None,legal_entity-legal_entity
41,41,29,205,2362070140000,2021.0,2021-01-06 00:00:00+00:00,348500.0,5.542203,7138682.0,2105639101,...,NaN,NaN,NaN,lehocky,mcdade,person,person,None,None,person-person
42,42,31,211,15342000260000,2020.0,2020-07-01 00:00:00+00:00,220000.0,5.342423,97668524.0,2029447083,...,NaN,NaN,NaN,elevated partners,federal home loan mortgag,legal_entity,legal_entity,None,None,legal_entity-legal_entity
43,43,71,204,13174020190000,2019.0,2019-06-01 00:00:00+00:00,264000.0,5.421604,98482907.0,1919913206,...,NaN,NaN,NaN,pankaj,intercounty judicial sale,person,legal_entity,None,None,person-legal_entity
44,44,71,204,13174020190000,2020.0,2020-03-01 00:00:00+00:00,440000.0,5.643453,97891227.0,2008720060,...,NaN,NaN,NaN,williams,goel,person,person,None,None,person-person
45,45,77,278,13363190450000,2021.0,2021-07-31 00:00:00+00:00,1125000.0,6.051153,7240506.0,2127015006,...,NaN,NaN,NaN,sullivan,jurski,person,person,None,None,person-person
46,46,32,204,31122110450000,2021.0,2021-10-05 00:00:00+00:00,335000.0,5.525045,7282543.0,2135033174,...,NaN,NaN,NaN,siengo,gines,person,person,None,None,person-person
47,47,13,211,28121140020000,2019.0,2019-10-01 00:00:00+00:00,275000.0,5.439333,97741271.0,1929017149,...,NaN,NaN,NaN,hill,reilly,person,person,None,None,person-person
48,48,29,295,2154070300000,2019.0,2019-09-01 00:00:00+00:00,190000.0,5.278754,96331903.0,1927649004,...,NaN,NaN,NaN,blancas,zadel,person,person,None,None,person-person
49,49,30,203,23354040020000,2019.0,2019-03-01 00:00:00+00:00,262250.0,5.418715,97073153.0,1912357047,...,NaN,NaN,NaN,owsiak,us bank national association,person,legal_entity,None,None,person-legal_entity

In [10]:
people = sales[sales.transaction_type == 'person-person']
people = people[people.seller_id == people.buyer_id]

In [11]:
people

,Unnamed: 0,township_code,class,pin,year,sale_date,sale_price,sale_price_log10,sale_key,doc_no,...,outlier_std_lower,outlier_std_upper,outlier_description,buyer_id,seller_id,buyer_category,seller_category,buyer_role,seller_role,transaction_type
171,171,32,206,31122050210000,2020.0,2020-06-01 00:00:00+00:00,415000.0,5.618048,96332477.0,2024006011,...,NaN,NaN,NaN,litchfield,litchfield,person,person,None,None,person-person
181,181,76,203,17311140200000,2018.0,2018-10-01 00:00:00+00:00,135000.0,5.130334,96668939.0,1830957008,...,NaN,NaN,NaN,bucio,bucio,person,person,None,None,person-person
213,213,22,278,9131200070000,2019.0,2019-07-01 00:00:00+00:00,375000.0,5.574031,98371433.0,1918941175,...,-0.014935,2.064800,NaN,moten,moten,person,person,None,None,person-person
331,331,72,205,19013140130000,2019.0,2019-01-01 00:00:00+00:00,40000.0,4.602060,97702440.0,1902213051,...,NaN,NaN,NaN,ortega,ortega,person,person,None,None,person-person
530,530,76,211,17332020370000,2018.0,2018-01-01 00:00:00+00:00,285000.0,5.454845,97371947.0,1803208146,...,NaN,NaN,NaN,munoz,munoz,person,person,None,None,person-person
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
217508,217508,24,210,10233050410000,2019.0,2019-11-01 00:00:00+00:00,220000.0,5.342423,97333656.0,1932255220,...,NaN,NaN,NaN,korkes,korkes,person,person,None,None,person-person
217584,217584,28,278,27311060200000,2018.0,2018-11-01 00:00:00+00:00,360000.0,5.556303,97336671.0,1833112032,...,NaN,NaN,NaN,schutt,schutt,person,person,None,None,person-person
217885,217885,71,203,13152340300000,2019.0,2019-05-01 00:00:00+00:00,250000.0,5.397940,96998708.0,1919306102,...,NaN,NaN,NaN,derosas,derosas,person,person,None,None,person-person
218007,218007,72,202,20072240070000,2021.0,2021-09-03 00:00:00+00:00,180000.0,5.255273,7236958.0,2125107443,...,NaN,NaN,NaN,flores,flores,person,person,None,None,person-person
218136,218136,35,278,7294030160000,2021.0,2021-08-30 00:00:00+00:00,220000.0,5.342423,7249327.0,2126546039,...,-0.084317,1.218697,Valuation Outlier below the mean,tang,tang,person,person,None,None,person-person

In [12]:
people.outlier_description.value_counts()

Valuation Outlier below the mean             52
Per SQFT Outlier below the mean              13
Per SQFT Outlier above the mean               6
Days since last transaction is above mean     2
Valuation Outlier above the mean              2
Name: outlier_description, dtype: int64

In [13]:
people.primary_outlier.value_counts()

Not Outlier                            1677
Raw Price Outlier                        92
Price/SQFT Outlier                       75
Days Since Last Transaction Outlier      19
Price Change Outlier                     10
Transaction Volatility Outlier            4
Name: primary_outlier, dtype: int64

In [14]:
judicial = sales[(sales.seller_id == 'the judicial sales corporation') | (sales.seller_id == 'intercounty judicial sale')]

In [15]:
judicial

,Unnamed: 0,township_code,class,pin,year,sale_date,sale_price,sale_price_log10,sale_key,doc_no,...,outlier_std_lower,outlier_std_upper,outlier_description,buyer_id,seller_id,buyer_category,seller_category,buyer_role,seller_role,transaction_type
23,23,76,211,17314120190000,2018.0,2018-12-01 00:00:00+00:00,221000.0,5.344392,98256241.0,1836134037,...,NaN,NaN,NaN,vt investment corporation,the judicial sales corporation,legal_entity,legal_entity,None,None,legal_entity-legal_entity
25,25,72,205,19362161140000,2019.0,2019-11-01 00:00:00+00:00,78300.0,4.893762,96850892.0,1932906054,...,NaN,NaN,NaN,seem group llc,the judicial sales corporation,legal_entity,legal_entity,None,None,legal_entity-legal_entity
43,43,71,204,13174020190000,2019.0,2019-06-01 00:00:00+00:00,264000.0,5.421604,98482907.0,1919913206,...,NaN,NaN,NaN,pankaj,intercounty judicial sale,person,legal_entity,None,None,person-legal_entity
82,82,24,206,10141110170000,2018.0,2018-06-01 00:00:00+00:00,496000.0,5.695482,96223066.0,1820419271,...,NaN,NaN,NaN,kalmin,the judicial sales corporation,person,legal_entity,None,None,person-legal_entity
115,115,24,203,10141200290000,2019.0,2019-05-01 00:00:00+00:00,234000.0,5.369216,97739970.0,1921049246,...,NaN,NaN,NaN,amp realty llc,the judicial sales corporation,legal_entity,legal_entity,None,None,legal_entity-legal_entity
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
216049,216049,72,295,25204040610000,2018.0,2018-08-01 00:00:00+00:00,18900.0,4.276462,96520428.0,1823217002,...,NaN,NaN,NaN,smith,the judicial sales corporation,person,legal_entity,None,None,person-legal_entity
216430,216430,13,203,28341040190000,2022.0,2022-01-03 00:00:00+00:00,103471.0,5.014819,7315795.0,2208312036,...,NaN,NaN,NaN,golden city investment inc,the judicial sales corporation,legal_entity,legal_entity,None,None,legal_entity-legal_entity
216819,216819,32,207,31172060270000,2018.0,2018-02-01 00:00:00+00:00,102000.0,5.008600,97366199.0,1806149132,...,NaN,NaN,NaN,north shore holdings ltd,the judicial sales corporation,legal_entity,legal_entity,None,None,legal_entity-legal_entity
217236,217236,11,202,16192140090000,2019.0,2019-06-01 00:00:00+00:00,126100.0,5.100715,97257419.0,1916516035,...,NaN,NaN,NaN,black gold properties lp,the judicial sales corporation,legal_entity,legal_entity,None,None,legal_entity-legal_entity
217398,217398,35,203,7212030010000,2018.0,2018-01-01 00:00:00+00:00,161100.0,5.207096,96444954.0,1803629027,...,-0.470938,1.190762,NaN,jva il llc,the judicial sales corporation,legal_entity,legal_entity,None,None,legal_entity-legal_entity

In [16]:
judicial.primary_outlier.value_counts()

Not Outlier                            1578
Raw Price Outlier                       415
Price/SQFT Outlier                      138
Transaction Volatility Outlier           64
Price Change Outlier                      5
Days Since Last Transaction Outlier       1
Name: primary_outlier, dtype: int64

In [17]:
judicial.outlier_description.value_counts()

Valuation Outlier below the mean        256
Number of transactions is above mean     15
Per SQFT Outlier above the mean           9
Valuation Outlier above the mean          6
Per SQFT Outlier below the mean           5
Price change descreasing from mean        5
Name: outlier_description, dtype: int64

In [18]:
judicial.buyer_id.value_counts().head(35)

vt investment corporation        58
jva il llc                       54
chicago title land trust         39
amp realty llc                   35
wells fargo bank national        34
black gold properties lp         33
north shore holdings ltd         32
cirrus investment group          32
saleem mohammed                  28
carrington mortgage servi        27
illinois reo sales inc           26
stargate investments llc         26
cerberus sfr holdings l          25
midfirst bank                    24
jet acquisitions llc             22
secretary of veterans affairs    21
seem group llc                   21
south bay partners llc           17
pch properties llc               17
lakefront investment grou        16
new age properties llc           16
ohs properties lp                15
real equities inc                14
corona investments llc           14
third coast holdings llc         13
ridgeway group llc               13
ali                              13
nationstar mortgage llc d        13
mr capital group llc             13
strata investments llc           13
edward gal inc                   12
mi casa llc                      12
paluch construction inc          11
people first corporation         11
pinnacle real estate inve        11
Name: buyer_id, dtype: int64

In [19]:
sales.buyer_id.value_counts().head(500).to_dict()

{'Empty Name': 13217,
 'garcia': 1214,
 'rodriguez': 1112,
 'hernandez': 1096,
 'martinez': 1066,
 'gonzalez': 953,
 'williams': 945,
 'johnson': 927,
 'patel': 904,
 'smith': 898,
 'chicago title land trust': 860,
 'lopez': 852,
 'perez': 731,
 'sanchez': 672,
 'jones': 634,
 'ramirez': 626,
 'brown': 622,
 'flores': 537,
 'diaz': 515,
 'davis': 509,
 'torres': 508,
 'jackson': 463,
 'gomez': 447,
 'rivera': 434,
 'cerberus sfr holdings ii': 421,
 'lee': 410,
 'thomas': 409,
 'miller': 389,
 'harris': 371,
 'anderson': 348,
 'reyes': 342,
 'cruz': 338,
 'morales': 327,
 'alvarez': 324,
 'wilson': 322,
 'taylor': 315,
 'guzman': 310,
 'herrera': 304,
 'ortiz': 299,
 'moore': 295,
 'chavez': 281,
 'robinson': 276,
 'nguyen': 274,
 'gutierrez': 273,
 'jimenez': 269,
 'ruiz': 265,
 'munoz': 262,
 'delgado': 256,
 'kim': 251,
 'walker': 249,
 'white': 247,
 'lewis': 246,
 'khan': 244,
 'mendoza': 243,
 'ramos': 239,
 'salgado': 237,
 'martin': 234,
 'moreno': 230,
 'murphy': 229,
 'shah': 229,
 'vazquez': 228,
 'grandview capital llc': 226,
 'vargas': 226,
 'chen': 225,
 'thompson': 223,
 'medina': 222,
 'soto': 222,
 'aguilar': 222,
 'allen': 218,
 'bppo properties 2020-1 ll': 198,
 'hill': 196,
 'castillo': 196,
 'romero': 196,
 'county of cook illinois': 191,
 'castro': 185,
 'scott': 185,
 'vega': 184,
 'washington': 179,
 'sandoval': 178,
 'young': 177,
 'roman': 176,
 'padilla': 176,
 'adams': 173,
 'ortega': 172,
 'ali': 171,
 'evans': 170,
 'green': 170,
 'guerrero': 170,
 'estrada': 169,
 'king': 169,
 'collins': 168,
 'mendez': 161,
 'kelly': 159,
 'community initiatives in': 159,
 'clark': 158,
 'coleman': 158,
 'mitchell': 156,
 'nelson': 156,
 'fernandez': 155,
 'carter': 154,
 'arroyo': 153,
 'santiago': 151,
 'wright': 147,
 'leon': 146,
 'avila': 145,
 'sullivan': 145,
 'baker': 142,
 'contreras': 142,
 'velazquez': 141,
 'rojas': 139,
 'morris': 138,
 'wang': 137,
 'marquez': 136,
 'alexander': 135,
 'turner': 135,
 'hall': 133,
 'li': 132,
 'maldonado': 130,
 'alvarado': 129,
 'vasquez': 128,
 'dominguez': 128,
 'aguirre': 127,
 'griffin': 127,
 'ryan': 124,
 'silva': 123,
 'nunez': 122,
 'james': 122,
 'rogers': 122,
 'ahmed': 121,
 'howard': 121,
 'luna': 120,
 'calderon': 120,
 'sanders': 119,
 'edwards': 119,
 'barrera': 119,
 'huang': 119,
 'salazar': 119,
 'rios': 118,
 'bell': 118,
 'zavala': 118,
 'ayala': 117,
 'cervantes': 117,
 'ross': 117,
 'figueroa': 116,
 'wu': 116,
 'campbell': 116,
 'serrano': 115,
 'navarro': 115,
 'campos': 114,
 'parker': 114,
 'espinoza': 114,
 'walsh': 111,
 'tran': 111,
 'miranda': 111,
 'cortez': 111,
 'juarez': 111,
 'stewart': 110,
 'peterson': 110,
 'woods': 109,
 'robles': 108,
 'connor': 108,
 'park': 107,
 'lara': 107,
 'zhang': 106,
 'ocampo': 106,
 'ward': 106,
 'reed': 106,
 'cooper': 104,
 'watson': 102,
 'murray': 101,
 'joseph': 101,
 'brooks': 101,
 'liu': 101,
 'solis': 100,
 'jordan': 100,
 'singh': 100,
 'hayes': 100,
 'jva il llc': 99,
 'richardson': 98,
 'jenkins': 98,
 'barnes': 97,
 'gray': 97,
 'henderson': 97,
 'chicago opportunity prope': 97,
 'pena': 96,
 'phillips': 96,
 'bailey': 96,
 'santos': 96,
 'roberts': 95,
 'morgan': 95,
 'simmons': 92,
 'burke': 92,
 'camacho': 91,
 'hughes': 90,
 'burns': 90,
 'villegas': 90,
 'brien': 90,
 'cook': 90,
 'dixon': 89,
 'orozco': 89,
 'mohammed': 88,
 'mejia': 87,
 'meyer': 87,
 'mora': 86,
 'powell': 86,
 'carrillo': 86,
 'gordon': 86,
 'lin': 85,
 'barajas': 84,
 'yu': 84,
 'ibarra': 84,
 'castaneda': 84,
 'tapia': 84,
 'gallegos': 84,
 'valdez': 84,
 'george': 84,
 'patterson': 83,
 'price': 83,
 'ochoa': 82,
 'cohen': 82,
 'butler': 82,
 'olson': 82,
 'reynolds': 82,
 'community initiatives inc': 81,
 'mercado': 81,
 'matthews': 81,
 'owens': 81,
 'bennett': 81,
 'fox': 80,
 'kennedy': 80,
 'macias': 80,
 'foster': 80,
 'schmidt': 80,
 'bautista': 79,
 'carlson': 79,
 'russell': 79,
 'villanueva': 78,
 'bahena': 78,
 'cardenas': 77,
 'patino': 77,
 'valencia': 76,
 'boyd': 76,
 'porter': 76,
 'bryant': 76,
 'moran': 76,
 'cabrera': 75,
 'cerberus sfr holdings l': 75,
 'murillo': 75,
 'montoya': 75,
 'lynch': 75,
 'franco': 75,
 'molina': 75,
 'weber': 75,
 'daniels': 74,
 'fuentes': 74,
 'cox': 74,
 'acosta': 74,
 'wong': 74,
 'huerta': 74,
 'sims': 73,
 'ellis': 73,
 'wallace': 73,
 'arias': 73,
 'mei': 72,
 'hamilton': 72,
 'cortes': 72,
 'riley': 72,
 'seem group llc': 72,
 'mccarthy': 71,
 'andrade': 71,
 'yang': 71,
 'salinas': 71,
 'henry': 71,
 'garza': 71,
 'holmes': 70,
 'cole': 70,
 'trujillo': 70,
 'sow community development': 70,
 'nava': 69,
 'marin': 69,
 'correa': 69,
 'pinnacle real estate inve': 68,
 'marys lane llc': 68,
 'esparza': 68,
 'suarez': 68,
 'fisher': 68,
 'rangel': 68,
 'hawkins': 68,
 'harvey': 67,
 'rice': 67,
 'hussain': 66,
 'wells': 66,
 'hampton': 66,
 'west': 66,
 'magana': 66,
 'saucedo': 66,
 'doyle': 66,
 'wagner': 66,
 'liang': 65,
 'montgomery': 65,
 'watkins': 65,
 'cartus financial corporat': 65,
 'willis': 65,
 'syed': 65,
 'pineda': 64,
 'le': 64,
 'duran': 64,
 'salas': 64,
 'benitez': 64,
 'marshall': 64,
 'payne': 64,
 'muhammad': 64,
 'franklin': 64,
 'long': 63,
 'velez': 63,
 'villa': 63,
 'mason': 63,
 'pearson': 62,
 'mcdonald': 62,
 'gibson': 62,
 'crawford': 62,
 'grant': 62,
 'arellano': 62,
 'pacheco': 62,
 'ferguson': 62,
 'zamora': 62,
 'beltran': 61,
 'perry': 61,
 'daniel': 61,
 'cuevas': 61,
 'mcgee': 61,
 'galvan': 61,
 'sosa': 61,
 'hicks': 61,
 'gonzales': 61,
 'acevedo': 61,
 'rubio': 61,
 'klein': 60,
 'gardner': 60,
 'mathew': 60,
 'harper': 60,
 'illinois land investment': 60,
 'armstrong': 60,
 'palmer': 59,
 'perkins': 59,
 'carroll': 59,
 'vt investment corporation': 59,
 'quinn': 59,
 'hudson': 59,
 'schwartz': 58,
 'sotelo': 58,
 'colon': 58,
 'cunningham': 58,
 'hunter': 58,
 'myers': 58,
 'hoffman': 58,
 'schneider': 57,
 'secretary of housing and urban development': 57,
 'schultz': 57,
 'simpson': 56,
 'warren': 56,
 'gallagher': 56,
 'graham': 56,
 'escobar': 56,
 'lozano': 56,
 'valle': 56,
 'aranda': 56,
 'hansen': 55,
 'carr': 55,
 'lane': 55,
 'shaw': 55,
 'rose': 55,
 'ray': 55,
 'choi': 54,
 'rivas': 54,
 'becker': 54,
 'hai': 54,
 'nevarez': 54,
 'arnold': 54,
 'wood': 54,
 'trejo': 54,
 'corona': 54,
 'love': 54,
 'villarreal': 53,
 'meza': 53,
 'jefferson': 53,
 'tan': 53,
 'ford': 53,
 'neal': 53,
 'bradley': 53,
 'greene': 52,
 'villalobos': 52,
 'curtis': 52,
 'stevens': 52,
 'successor': 52,
 'cisneros': 52,
 'ponce': 52,
 'andrews': 52,
 'santana': 52,
 'chambers': 51,
 'thakkar': 51,
 'oliver': 51,
 'montes': 51,
 'hardy': 51,
 'siddiqui': 51,
 'chan': 51,
 'newman': 51,
 'freeman': 51,
 'arteaga': 50,
 'corral': 50,
 'rosa': 50,
 'nowak': 50,
 'melendez': 50,
 'harrison': 50,
 'peters': 50,
 'fields': 50,
 'godinez': 50,
 'reilly': 50,
 'rico': 50,
 'hong': 50,
 'cano': 50,
 'villagomez': 50,
 'serna': 49,
 'mueller': 49,
 'gill': 49,
 'bravo': 49,
 'walton': 49,
 'brito': 49,
 'townsend': 49,
 'reid': 49,
 'o': 49,
 'mata': 49,
 'hunt': 48,
 'sutton': 48,
 'ahmad': 48,
 'bernal': 48,
 'lagunas': 47,
 'abraham': 47,
 'stephens': 47,
 'mccoy': 47,
 'tucker': 47,
 'dunn': 47,
 'flowers': 47,
 'hurtado': 47,
 'black': 47,
 'enriquez': 47,
 'webb': 47,
 'chang': 47,
 'berry': 47,
 'the chicago trust company': 46,
 'vera': 46,
 'mcmahon': 46,
 'leonard': 46,
 'richards': 46,
 'simon': 46,
 'torre': 46,
 'lucas': 46,
 'tellez': 46,
 'little': 46,
 'spencer': 46,
 'nomi': 46,
 'carrera': 46,
 'desai': 46,
 'jaramillo': 46,
 'hart': 46,
 'frank': 46,
 'guerra': 45,
 'larson': 45,
 'powers': 45,
 'stone': 45,
 'neill': 45,
 'robertson': 45,
 'tate': 45,
 'fitzgerald': 45,
 'bowman': 45,
 'aguilera': 45,
 'nichols': 44,
 'pierce': 44,
 'connell': 44,
 'austin': 44,
 'douglas': 44,
 'county of cook illinois a': 44,
 'schroeder': 44,
 'dean': 44,
 'paredes': 44,
 'zhu': 44,
 'navarrete': 43,
 'chung': 43,
 'villasenor': 43,
 'hines': 43,
 'jensen': 43,
 'zuniga': 43,
 'secretary of veterans affairs': 43,
 'kumar': 43,
 'malley': 43,
 'walls': 43,
 'apex national real estate': 43,
 'david': 43,
 'novak': 43,
 'sharma': 42}

In [20]:
sales.seller_id.value_counts().head(500).to_dict()

{'Empty Name': 30949,
 'chicago title land trust': 3871,
 'the judicial sales corporation': 1771,
 'fannie mae': 1730,
 'us bank national association': 1089,
 'secretary of housing and urban development': 809,
 'johnson': 686,
 'smith': 679,
 'federal home loan mortgag': 678,
 'garcia': 552,
 'wells fargo bank national': 529,
 'patel': 528,
 'first midwest bank': 514,
 'williams': 505,
 'rodriguez': 466,
 'deutsche bank national trust company': 463,
 'martinez': 450,
 'hernandez': 436,
 'gonzalez': 431,
 'intercounty judicial sale': 430,
 'brown': 426,
 'jones': 424,
 'the bank of new york mell': 370,
 'wilmington savings fund s': 359,
 'lopez': 334,
 'miller': 334,
 'lee': 327,
 'davis': 322,
 'perez': 320,
 'grandview capital llc': 311,
 'thomas': 297,
 'anderson': 289,
 'sanchez': 280,
 'ramirez': 273,
 'marquette bank': 270,
 'diaz': 252,
 'bank of america national': 242,
 'harris': 241,
 'the chicago trust company': 238,
 'jackson': 233,
 'flores': 228,
 'trustee': 226,
 'taylor': 224,
 'martin': 219,
 'wilson': 215,
 'torres': 215,
 'thompson': 212,
 'ih2 property illinois lp': 210,
 'kim': 206,
 'moore': 205,
 'jp morgan chase bank': 204,
 'rivera': 203,
 'county of cook illinois': 197,
 'mtglq investors l p': 192,
 'white': 189,
 'triple m mazel llc': 187,
 'robinson': 187,
 'murphy': 181,
 'gomez': 180,
 'lewis': 180,
 'peterson': 174,
 'sullivan': 170,
 'kelly': 168,
 'o': 164,
 'wheeler financial inc': 164,
 'walker': 163,
 'nelson': 162,
 'morales': 154,
 'gutierrez': 150,
 'green': 145,
 'chavez': 144,
 'king': 141,
 'reyes': 141,
 'scott': 141,
 'munoz': 141,
 'alvarez': 140,
 'chen': 140,
 'ortiz': 139,
 'collins': 139,
 'parkway bank and trust co': 136,
 'secretary of veterans affairs': 136,
 'cruz': 134,
 't': 132,
 'young': 130,
 'allen': 128,
 'ruiz': 128,
 'walsh': 128,
 'county of cook dba cook c': 127,
 'khan': 127,
 'herrera': 127,
 'mtglq investors lp': 126,
 'shah': 125,
 'hill': 123,
 'bayview loan servicing llc': 121,
 'coleman': 120,
 'mendoza': 120,
 'nguyen': 120,
 'ali': 119,
 'citimortgage inc': 119,
 'ih3 property illinois lp': 118,
 'mitchell': 117,
 'adams': 117,
 'medina': 116,
 'ryan': 115,
 'ramos': 115,
 'clark': 114,
 'wagner': 113,
 'connor': 110,
 'jimenez': 110,
 'vargas': 109,
 'baker': 108,
 'tcf national bank': 107,
 'carter': 106,
 'guzman': 105,
 'evans': 104,
 'howard': 104,
 'hall': 102,
 'carlson': 100,
 'chi 2 sf llc': 100,
 'hsbc bank usa national a': 99,
 'roman': 98,
 'brien': 98,
 'phillips': 97,
 'moreno': 97,
 'burke': 97,
 'schmidt': 96,
 'm i homes of chicago llc': 96,
 'stewart': 95,
 'soto': 95,
 'vazquez': 95,
 'parker': 95,
 'wright': 95,
 'cooper': 94,
 'campbell': 94,
 'turner': 94,
 'delgado': 94,
 'cook': 93,
 'bell': 92,
 'morris': 90,
 'rogers': 89,
 'aguilar': 88,
 'reed': 87,
 'u': 87,
 'thr property illinois lp': 87,
 'sandoval': 87,
 'edwards': 86,
 'leas': 86,
 'meyer': 84,
 'james': 84,
 'jordan': 84,
 'us bank trust na': 83,
 'griffin': 82,
 'woods': 82,
 'olson': 82,
 'hughes': 81,
 'reverse mortgage solution': 81,
 'sole': 81,
 'kennedy': 80,
 'burns': 80,
 'leon': 80,
 'gordon': 80,
 'ward': 80,
 'castro': 79,
 'first american bank': 79,
 'schultz': 79,
 'murray': 79,
 'atg trust company': 79,
 'watson': 79,
 'washington': 78,
 'ross': 78,
 'santiago': 78,
 'roberts': 78,
 'moran': 78,
 'co': 78,
 'vega': 78,
 'first integrity group inc': 78,
 'alexander': 77,
 'calatlantic group inc': 77,
 'park': 77,
 'mendez': 76,
 'jva il llc': 76,
 'singh': 76,
 'padilla': 76,
 'mortgage equity conversio': 76,
 'romero': 75,
 'donnell': 75,
 'estrada': 75,
 'butler': 75,
 'ortega': 74,
 'mccarthy': 74,
 'lynch': 74,
 'wang': 74,
 'figueroa': 73,
 'fisher': 73,
 'fernandez': 72,
 'alvarado': 72,
 'chicago p c llc': 72,
 'nunez': 71,
 'zhang': 71,
 'salgado': 71,
 'rojas': 71,
 'ferguson': 71,
 'aguirre': 70,
 'richardson': 70,
 'saleem mohammed': 70,
 'campos': 70,
 'morgan': 70,
 'li': 70,
 'maple real estate llc': 70,
 'castillo': 69,
 'gray': 69,
 'guerrero': 68,
 'peters': 68,
 'tirell llc': 67,
 'bailey': 67,
 'vasquez': 67,
 'henderson': 66,
 'albany bank trust c': 66,
 'hayes': 65,
 'hamilton': 65,
 'george': 65,
 'ayala': 64,
 'vt investment corporation': 64,
 'weber': 64,
 'cunningham': 64,
 'cohen': 64,
 'foster': 63,
 'sanders': 63,
 'simmons': 63,
 'rios': 63,
 'second city equity llc': 63,
 'the': 63,
 'franklin': 63,
 'mcdonald': 62,
 'heir': 62,
 'jensen': 62,
 'pnc bank national associ': 62,
 'avila': 62,
 'liu': 61,
 'brooks': 61,
 'nationstar mortgage llc d': 61,
 'navarro': 61,
 'stevens': 61,
 'reynolds': 60,
 'chan': 60,
 'maldonado': 60,
 'rose': 60,
 'marshall': 60,
 'simon': 59,
 'novak': 59,
 'joseph': 59,
 'wallace': 59,
 'acquisiti': 59,
 'nowak': 59,
 'russell': 58,
 'seem group llc': 58,
 'ellis': 58,
 'wong': 58,
 'payne': 58,
 'salazar': 58,
 'hansen': 58,
 'pena': 58,
 'palmer': 58,
 'barnes': 57,
 'price': 57,
 'nolan': 57,
 'arroyo': 57,
 'porter': 57,
 'schneider': 57,
 'hudson': 57,
 'cole': 57,
 'bradley': 57,
 'quinn': 56,
 'jenkins': 56,
 'hai': 56,
 'bennett': 56,
 'doyle': 56,
 'fox': 56,
 'west': 56,
 'powell': 56,
 'hoffman': 55,
 'mueller': 55,
 'becker': 55,
 'dominguez': 54,
 'calderon': 54,
 'velazquez': 54,
 'ochoa': 54,
 'contreras': 54,
 'gallagher': 54,
 'malley': 54,
 'schroeder': 54,
 'berry': 54,
 'graham': 54,
 'miranda': 54,
 'lin': 54,
 'hunter': 54,
 'wood': 53,
 'chang': 53,
 'long': 53,
 'yang': 53,
 'wu': 53,
 'chicago title and trust c': 53,
 'cox': 53,
 'daniels': 52,
 'reilly': 52,
 'dixon': 52,
 'powers': 52,
 'mk construction bui': 52,
 'larson': 52,
 'espinoza': 51,
 'matthews': 51,
 'neal': 51,
 'fitzgerald': 51,
 'zavala': 50,
 'holmes': 50,
 'owens': 50,
 'rice': 50,
 'carroll': 50,
 'connell': 50,
 'bcl-home rehab sub 1 llc': 50,
 'huang': 50,
 'garza': 49,
 'correa': 49,
 'mason': 49,
 'marquez': 49,
 'county of cook a body po': 49,
 'schwartz': 49,
 'simpson': 49,
 'ford': 49,
 'harper': 49,
 'bauer': 49,
 'henry': 48,
 'first community bank and': 48,
 'riley': 48,
 'elm street homes llc': 48,
 'freeman': 48,
 'crawford': 48,
 'boyd': 48,
 'robles': 48,
 'abraham': 48,
 'stone': 48,
 'amp': 48,
 'serrano': 48,
 'johnston': 47,
 'duffy': 47,
 'conway': 47,
 'mcguire': 47,
 'swanson': 47,
 'boyle': 47,
 'black': 47,
 'ahmed': 47,
 'orozco': 47,
 's': 47,
 'gibson': 46,
 'brennan': 46,
 'hussain': 46,
 'greenside properties llc': 46,
 '1st midwest financial in': 46,
 'patterson': 46,
 'santos': 46,
 'cardenas': 46,
 'velez': 45,
 'bryant': 45,
 'harrison': 45,
 'greene': 45,
 'un': 45,
 'lara': 45,
 'luna': 45,
 'friedman': 45,
 'nichols': 45,
 'erickson': 45,
 'ocampo': 44,
 'kane': 44,
 'foley': 44,
 'solis': 44,
 'neill': 44,
 'richards': 44,
 'barrera': 44,
 'cirrus investment group': 44,
 'webb': 43,
 'carrillo': 43,
 'doherty': 43,
 'corral': 43,
 'montgomery': 43,
 'pierce': 43,
 'lane': 43,
 'lyons': 43,
 'carey': 43,
 'barrett': 43,
 'wolf': 43,
 'of': 43,
 'hunt': 43,
 'cortez': 43,
 'jet acquisitions llc': 42,
 'american advisors group': 42,
 'armstrong': 42,
 'daniel': 42,
 'klein': 42,
 'tucker': 42,
 'fitzpatrick': 42,
 'perkins': 42,
 'newman': 42,
 'fischer': 42,
 'acosta': 42,
 'choi': 42,
 'robertson': 42,
 'le': 42,
 'gardner': 41,
 'mcgrath': 41,
 'tran': 41,
 'warren': 41,
 'cervantes': 41,
 'silva': 41,
 'roth': 41,
 'freedom mortgage corporat': 41,
 'yu': 40,
 'dunn': 40,
 'shaw': 40,
 'connolly': 40,
 'byrne': 40,
 'curtis': 40,
 'maloney': 40,
 'paul': 40,
 'kramer': 40,
 'willis': 39,
 'boatright': 39,
 'grant': 39,
 'perry': 39,
 'michael': 39,
 'benson': 39,
 'barry': 39,
 'jacobs': 39,
 'niles construction llc': 39,
 'valdez': 39,
 'kowalski': 39,
 'leonard': 39,
 'godinez': 39,
 'carr': 39,
 'esparza': 39,
 'welch': 39,
 'mcgee': 38,
 'gilbert': 38,
 'stephens': 38,
 'dolan': 38,
 'huerta': 38,
 'successor': 38,
 'watkins': 38,
 'lucas': 38,
 'wojcik': 38,
 'molina': 38,
 'sims': 38,
 'villegas': 38,
 'moy': 38,
 'myers': 37,
 'us bank trust national': 37,
 'levin': 37,
 'joyce': 37,
 'trujillo': 37,
 'saucedo': 37,
 'weaver': 37,
 'kuhn': 37,
 'pearson': 37,
 'weiss': 37,
 'desai': 37,
 'goodman': 37,
 'galvan': 37,
 'zielinski': 37,
 'andrews': 37,
 'aranda': 37,
 'corona': 37,
 'hicks': 36,
 'bmo harris bank n a': 36,
 'camanro inc': 36,
 'grady': 36,
 'higgins': 36,
 'get cashflow today inc': 36,
 'wells': 36,
 'mora': 36,
 'apex national real estate': 36,
 'austin': 36,
 'may': 36,
 'i': 36,
 'north shore holdings ltd': 36,
 'mack': 36,
 'valencia': 36,
 'clarke': 36,
 'franco': 36,
 'cabrera': 36,
 'srp sub llc': 36,
 'barajas': 36,
 'jennings': 35,
 'brady': 35,
 'villalobos': 35,
 'mclaughlin': 35,
 'tan': 35,
 'acquisitio': 35,
 'hsbc bank usa n a': 35,
 'snyder': 35,
 'mills': 35,
 'sweeney': 35}

In [21]:
sales[sales.seller_id == 'co-'].tail(25)

,Unnamed: 0,township_code,class,pin,year,sale_date,sale_price,sale_price_log10,sale_key,doc_no,...,outlier_std_lower,outlier_std_upper,outlier_description,buyer_id,seller_id,buyer_category,seller_category,buyer_role,seller_role,transaction_type
90111,90111,38,278,3171180030000,2018.0,2018-06-01 00:00:00+00:00,675000.0,5.829304,96668126.0,1818329378,...,NaN,NaN,NaN,taranda,co-,person,person,None,None,person-person
109402,109402,18,234,6351150270000,2019.0,2019-04-01 00:00:00+00:00,252000.0,5.401401,98073893.0,1916141059,...,NaN,NaN,NaN,lemus,co-,person,person,None,None,person-person
113525,113525,29,278,2181040090000,2018.0,2018-08-01 00:00:00+00:00,710000.0,5.851258,98078554.0,1829549077,...,NaN,NaN,NaN,serpico,co-,person,person,None,None,person-person
144594,144594,71,203,13171160230000,2019.0,2019-05-01 00:00:00+00:00,293000.0,5.466868,96367537.0,1912346188,...,NaN,NaN,NaN,guanio,co-,person,person,None,None,person-person
153446,153446,25,278,4251001080000,2019.0,2019-06-01 00:00:00+00:00,640000.0,5.806180,97369478.0,1916908057,...,NaN,NaN,NaN,wynn,co-,person,person,None,None,person-person
156851,156851,38,207,3311120370000,2020.0,2020-02-01 00:00:00+00:00,420000.0,5.623249,96476169.0,2007155332,...,NaN,NaN,NaN,lambert,co-,person,person,as trustee,None,person-person
175084,175084,35,278,7223100170000,2019.0,2019-02-01 00:00:00+00:00,420000.0,5.623249,96441638.0,1906634075,...,NaN,NaN,NaN,williams,co-,person,person,None,None,person-person
176349,176349,73,206,14203020140000,2020.0,2020-07-01 00:00:00+00:00,3350000.0,6.525045,97259696.0,2026007152,...,1.025221,2.621652,Valuation Outlier above the mean,chicago title land trust,co-,legal_entity,person,None,None,legal_entity-person
194648,194648,71,211,13132130300000,2020.0,2020-08-01 00:00:00+00:00,460000.0,5.662758,96481815.0,2029121218,...,NaN,NaN,NaN,p3 properties llc - 2522,co-,legal_entity,person,None,None,legal_entity-person
208882,208882,22,203,9111000050000,2018.0,2018-04-01 00:00:00+00:00,245000.0,5.389166,97446693.0,1811519089,...,NaN,NaN,NaN,filip,co-,person,person,None,None,person-person

In [22]:
sales[sales.seller_id == 'of']

,Unnamed: 0,township_code,class,pin,year,sale_date,sale_price,sale_price_log10,sale_key,doc_no,...,outlier_std_lower,outlier_std_upper,outlier_description,buyer_id,seller_id,buyer_category,seller_category,buyer_role,seller_role,transaction_type
7049,7049,71,205,13114290060000,2021.0,2021-10-06 00:00:00+00:00,850000.0,5.929419,7251177.0,2128616327,...,-1.929744,2.417435,NaN,lin,of,person,person,None,None,person-person
10359,10359,31,204,15293260150000,2018.0,2018-03-01 00:00:00+00:00,305000.0,5.484300,97409383.0,1810201049,...,NaN,NaN,NaN,garcia,of,person,person,None,None,person-person
12491,12491,72,202,20184110450000,2020.0,2020-07-01 00:00:00+00:00,38000.0,4.579784,97816872.0,2023840135,...,NaN,NaN,NaN,ochoa,of,person,person,None,None,person-person
12845,12845,25,203,4162130020000,2018.0,2018-05-01 00:00:00+00:00,362500.0,5.559308,96185179.0,1813649129,...,NaN,NaN,NaN,konsor enterprise inc,of,legal_entity,person,None,None,legal_entity-person
19141,19141,70,205,20224150270000,2020.0,2020-02-01 00:00:00+00:00,68000.0,4.832509,97513222.0,2004915004,...,NaN,NaN,NaN,chicago title land trust,of,legal_entity,person,None,None,legal_entity-person
26651,26651,77,211,17081080300000,2021.0,2021-09-30 00:00:00+00:00,1280000.0,6.107210,7257610.0,2130020143,...,NaN,NaN,NaN,Empty Name,of,none,person,None,None,none-person
26826,26826,71,202,13211180270000,2020.0,2020-03-01 00:00:00+00:00,243500.0,5.386499,96963692.0,2008057034,...,NaN,NaN,NaN,rodea,of,person,person,None,None,person-person
26934,26934,38,203,3204120010000,2020.0,2020-02-01 00:00:00+00:00,292000.0,5.465383,97440383.0,2009107334,...,NaN,NaN,NaN,flaherty,of,person,person,None,None,person-person
41302,41302,72,203,19103150070000,2020.0,2020-05-01 00:00:00+00:00,190000.0,5.278754,96369412.0,2019507066,...,NaN,NaN,NaN,lopez,of,person,person,None,None,person-person
43733,43733,13,234,28212140200000,2019.0,2019-05-01 00:00:00+00:00,185000.0,5.267172,97925283.0,1915618020,...,NaN,NaN,NaN,gonzales,of,person,person,None,None,person-person
46089,46089,15,211,16284280190000,2018.0,2018-12-01 00:00:00+00:00,75000.0,4.875061,96891527.0,1833941031,...,-1.365687,0.933283,Valuation Outlier below the mean,chicago title land trust,of,legal_entity,person,None,None,legal_entity-person
48790,48790,22,203,9134280080000,2020.0,2020-08-01 00:00:00+00:00,395000.0,5.596597,98039709.0,2029606383,...,NaN,NaN,NaN,breen,of,person,person,None,as trustee,person-person
52016,52016,19,203,22294050060000,2019.0,2019-05-01 00:00:00+00:00,130000.0,5.113943,97703112.0,1912801068,...,NaN,NaN,NaN,pensco trust company llc,of,legal_entity,person,None,None,legal_entity-person
52107,52107,77,205,17081080290000,2021.0,2021-09-30 00:00:00+00:00,1280000.0,6.107210,7257609.0,2130020143,...,NaN,NaN,NaN,Empty Name,of,none,person,None,None,none-person
53450,53450,72,202,25172080050000,2018.0,2018-07-01 00:00:00+00:00,20000.0,4.301030,97187907.0,1821106135,...,-2.892573,1.109276,Valuation Outlier below the mean,atb investments inc an,of,legal_entity,person,None,None,legal_entity-person
71190,71190,19,203,22292170020000,2019.0,2019-05-01 00:00:00+00:00,130000.0,5.113943,97036208.0,1916212099,...,NaN,NaN,NaN,grandview capital llc,of,legal_entity,person,None,None,legal_entity-person
72413,72413,72,203,19363270130000,2019.0,2019-01-01 00:00:00+00:00,166000.0,5.220108,96700521.0,1904245011,...,NaN,NaN,NaN,almanza,of,person,person,None,None,person-person
79263,79263,25,234,4332130030000,2020.0,2020-03-01 00:00:00+00:00,204000.0,5.309630,98484524.0,2010639142,...,-0.923587,1.161381,NaN,jura,of,person,person,None,None,person-person
80211,80211,72,203,24134100220000,2020.0,2020-08-01 00:00:00+00:00,449000.0,5.652246,98298773.0,2029120332,...,NaN,NaN,NaN,jimenez,of,person,person,None,None,person-person
96473,96473,72,202,25201250270000,2018.0,2018-10-01 00:00:00+00:00,35000.0,4.544068,98226813.0,1833913117,...,-2.892573,1.109276,NaN,jab investment co llc,of,legal_entity,person,None,None,legal_entity-person
96510,96510,34,203,15261080210000,2020.0,2020-02-01 00:00:00+00:00,500000.0,5.698970,97551218.0,2003513160,...,NaN,NaN,NaN,riversid,of,person,person,None,None,person-person
100518,100518,37,203,29362001360000,2018.0,2018-05-01 00:00:00+00:00,76552.0,4.883957,97151427.0,1828846018,...,NaN,NaN,NaN,bremer,of,person,person,None,None,person-person
102191,102191,73,203,14072140030000,2020.0,2020-07-01 00:00:00+00:00,795000.0,5.900367,96183452.0,2029525120,...,-1.640572,2.456056,NaN,massa,of,person,person,None,None,person-person
104520,104520,31,234,15294240450000,2018.0,2018-08-01 00:00:00+00:00,242500.0,5.384712,98374691.0,1829649127,...,NaN,NaN,NaN,zotti,of,person,person,None,None,person-person
120372,120372,72,203,25094010360000,2020.0,2020-09-01 00:00:00+00:00,122500.0,5.088136,97186569.0,2029735058,...,NaN,NaN,NaN,harris,of,person,person,None,None,person-person
126205,126205,77,211,16274210420000,2019.0,2019-07-01 00:00:00+00:00,100000.0,5.000000,98037981.0,1923513014,...,NaN,NaN,NaN,uriostegui,of,person,person,None,None,person-person
126311,126311,36,211,19061140280000,2018.0,2018-03-01 00:00:00+00:00,140000.0,5.146128,98336542.0,1807206134,...,NaN,NaN,NaN,arteaga,of,person,person,None,None,person-person
127645,127645,31,202,15084000580000,2019.0,2019-03-01 00:00:00+00:00,115000.0,5.060698,97406229.0,1908801038,...,NaN,NaN,NaN,velasco,of,person,person,None,None,person-person
139091,139091,72,205,20314210450000,2020.0,2020-07-01 00:00:00+00:00,92000.0,4.963788,96258298.0,2028507012,...,NaN,NaN,NaN,anointed investment solut,of,legal_entity,person,None,None,legal_entity-person
140266,140266,71,211,13352070260000,2019.0,2019-08-01 00:00:00+00:00,535000.0,5.728354,98037613.0,1923215072,...,NaN,NaN,NaN,the brooke daitchman decl,of,legal_entity,person,None,None,legal_entity-person
141279,141279,17,211,10242020260000,2018.0,2018-10-01 00:00:00+00:00,340000.0,5.531479,97151600.0,1830357169,...,NaN,NaN,NaN,proprties,of,person,person,None,None,person-person
144408,144408,72,203,19362090060000,2018.0,2018-09-01 00:00:00+00:00,97000.0,4.986772,96965618.0,1826704012,...,NaN,NaN,NaN,miller,of,person,person,None,None,person-person
145653,145653,70,205,25104120310000,2020.0,2020-06-01 00:00:00+00:00,26000.0,4.414973,96518185.0,2023820083,...,NaN,NaN,NaN,project finance llc,of,legal_entity,person,None,None,legal_entity-person
151494,151494,72,202,25201110510000,2018.0,2018-11-01 00:00:00+00:00,50000.0,4.698970,96366922.0,1901434034,...,NaN,NaN,NaN,ali,of,person,person,None,None,person-person
155019,155019,77,211,13252280240000,2020.0,2020-09-01 00:00:00+00:00,363000.0,5.559907,98336009.0,2029707572,...,NaN,NaN,NaN,gomez,of,person,person,None,None,person-person
157162,157162,36,203,19331000110000,2020.0,2020-04-01 00:00:00+00:00,263000.0,5.419956,96852044.0,2015649041,...,NaN,NaN,NaN,payne,of,person,person,None,None,person-person
171948,171948,74,295,17042230650000,2018.0,2018-03-01 00:00:00+00:00,900000.0,5.954243,96667538.0,1809346003,...,NaN,NaN,NaN,safron,of,person,person,None,None,person-person
172456,172456,36,203,19062220540000,2018.0,2018-04-01 00:00:00+00:00,168000.0,5.225309,97149850.0,1810117283,...,NaN,NaN,NaN,osorto,of,person,person,None,None,person-person
174386,174386,71,203,9254320450000,2022.0,2022-01-28 00:00:00+00:00,307000.0,5.487138,7299056.0,2203312194,...,NaN,NaN,NaN,doherty,of,person,person,None,None,person-person
182461,182461,20,203,12323160190000,2018.0,2018-10-01 00:00:00+00:00,152000.0,5.181844,97410642.0,1829906126,...,NaN,NaN,NaN,carranza,of,person,person,None,None,person-person
183189,183189,25,234,4214080070000,2019.0,2019-11-01 00:00:00+00:00,450000.0,5.653213,97221862.0,1932655056,...,NaN,NaN,NaN,balda,of,person,person,None,None,person-person
199652,199652,74,211,17042100110000,2021.0,2021-11-18 00:00:00+00:00,880000.0,5.944483,7269258.0,2132819006,...,NaN,NaN,NaN,Empty Name,of,none,person,None,None,none-person
213760,213760,28,204,27173020010000,2020.0,2020-06-01 00:00:00+00:00,420000.0,5.623249,97074973.0,2022320141,...,NaN,NaN,NaN,blouin,of,person,person,as trustee,None,person-person

In [23]:
sales[sales.seller_id == 'j']

,Unnamed: 0,township_code,class,pin,year,sale_date,sale_price,sale_price_log10,sale_key,doc_no,...,outlier_std_lower,outlier_std_upper,outlier_description,buyer_id,seller_id,buyer_category,seller_category,buyer_role,seller_role,transaction_type
801,801,29,295,2361130390000,2019.0,2019-07-01 00:00:00+00:00,303000.0,5.481443,97963571.0,1922655171,...,NaN,NaN,NaN,gonzales,j,person,person,None,None,person-person
1254,1254,29,202,2031050080000,2018.0,2018-02-01 00:00:00+00:00,436000.0,5.639486,98330505.0,1806049162,...,-1.378293,1.577405,NaN,j,j,person,person,None,None,person-person
12915,12915,71,203,13193250500000,2018.0,2018-09-01 00:00:00+00:00,290000.0,5.462398,96816701.0,1825719062,...,NaN,NaN,NaN,arellano,j,person,person,None,None,person-person
17011,17011,35,234,7284050430000,2019.0,2019-08-01 00:00:00+00:00,356000.0,5.551450,97332896.0,1923355228,...,NaN,NaN,NaN,ortiz,j,person,person,None,None,person-person
17064,17064,72,202,19123140100000,2018.0,2018-08-01 00:00:00+00:00,42000.0,4.623249,96520483.0,1825557085,...,NaN,NaN,NaN,gk home inc,j,legal_entity,person,None,None,legal_entity-person
27866,27866,77,211,16262220150000,2018.0,2018-10-01 00:00:00+00:00,75000.0,4.875061,98412161.0,1830546046,...,-1.994826,2.197478,NaN,gams properties llc,j,legal_entity,person,None,None,legal_entity-person
28816,28816,36,204,19333160060000,2020.0,2020-09-03 00:00:00+00:00,233900.0,5.369030,7095261.0,2030646445,...,NaN,NaN,NaN,viloria,j,person,person,None,None,person-person
31717,31717,24,203,10201220710000,2020.0,2020-01-01 00:00:00+00:00,160000.0,5.204120,96177324.0,2004210066,...,-0.380966,1.361083,NaN,bochenko,j,person,person,None,None,person-person
31807,31807,39,278,24011290370000,2021.0,2021-03-25 00:00:00+00:00,365000.0,5.562293,7204481.0,2115420106,...,NaN,NaN,NaN,brown,j,person,person,None,None,person-person
49097,49097,28,234,27234110110000,2018.0,2018-10-01 00:00:00+00:00,258000.0,5.411620,97930384.0,1828419061,...,NaN,NaN,NaN,lucas,j,person,person,None,None,person-person
52141,52141,72,202,19143160490000,2020.0,2020-07-01 00:00:00+00:00,243000.0,5.385606,97742121.0,2025439055,...,NaN,NaN,NaN,vega,j,person,person,None,None,person-person
63100,63100,70,206,20111060100000,2019.0,2019-10-01 00:00:00+00:00,525000.0,5.720159,97777989.0,1931116040,...,NaN,NaN,NaN,h h fast properties,j,legal_entity,person,None,None,legal_entity-person
74711,74711,28,295,27273140110000,2018.0,2018-09-01 00:00:00+00:00,235000.0,5.371068,98189651.0,1827108058,...,NaN,NaN,NaN,trela,j,person,person,None,None,person-person
87886,87886,28,278,27053090010000,2018.0,2018-01-01 00:00:00+00:00,545000.0,5.736397,97514772.0,1801057106,...,NaN,NaN,NaN,mohammed,j,person,person,None,None,person-person
105890,105890,13,278,28264140110000,2021.0,2021-05-11 00:00:00+00:00,135000.0,5.130334,7198252.0,2118006024,...,NaN,NaN,NaN,collins,j,person,person,None,None,person-person
106276,106276,22,278,9233050310000,2021.0,2021-01-18 00:00:00+00:00,600000.0,5.778151,7136845.0,2104001127,...,NaN,NaN,NaN,ann,j,person,person,None,None,person-person
106862,106862,31,203,15204130650000,2019.0,2019-01-01 00:00:00+00:00,228000.0,5.357935,98444464.0,1902510064,...,NaN,NaN,NaN,leto,j,person,person,None,None,person-person
117144,117144,33,278,15013210200000,2021.0,2021-04-26 00:00:00+00:00,850000.0,5.929419,7173123.0,2111939038,...,NaN,NaN,NaN,brueck,j,person,person,None,None,person-person
118278,118278,23,206,5271130350000,2020.0,2020-07-01 00:00:00+00:00,1860000.0,6.269513,98187336.0,2028541251,...,NaN,NaN,NaN,nomi,j,person,person,None,None,person-person
118974,118974,72,234,25203140110000,2018.0,2018-11-01 00:00:00+00:00,45000.0,4.653213,97294750.0,1902504041,...,NaN,NaN,NaN,macero investments inc,j,legal_entity,person,None,None,legal_entity-person
121353,121353,13,202,28112230110000,2018.0,2018-05-01 00:00:00+00:00,58000.0,4.763428,97855523.0,1812749450,...,NaN,NaN,NaN,kellogg,j,person,person,None,None,person-person
121524,121524,25,278,4253060290000,2021.0,2021-04-15 00:00:00+00:00,1350000.0,6.130334,7169102.0,2111739360,...,0.419232,1.969147,Valuation Outlier above the mean,e,j,person,person,None,None,person-person
125566,125566,13,203,28302000530000,2018.0,2018-01-01 00:00:00+00:00,135000.0,5.130334,97032775.0,1801808056,...,NaN,NaN,NaN,r,j,person,person,None,None,person-person
128583,128583,20,203,12314080280000,2018.0,2018-01-01 00:00:00+00:00,139000.0,5.143015,96290513.0,1801855094,...,NaN,NaN,NaN,edgar,j,person,person,None,None,person-person
163419,163419,74,295,14334120510000,2018.0,2018-04-01 00:00:00+00:00,1125000.0,6.051153,96853172.0,1812901045,...,NaN,NaN,NaN,fotheringill,j,person,person,None,None,person-person
183119,183119,10,204,1062000120000,2018.0,2018-04-01 00:00:00+00:00,1637500.0,6.214181,98034084.0,1810049058,...,0.151430,1.956573,Valuation Outlier above the mean,h,j,person,person,None,None,person-person
184794,184794,20,203,12332130160000,2018.0,2018-07-01 00:00:00+00:00,180000.0,5.255273,96779033.0,1820649223,...,NaN,NaN,NaN,estrada,j,person,person,None,None,person-person
191538,191538,35,202,7212090080000,2019.0,2019-03-01 00:00:00+00:00,189000.0,5.276462,96181845.0,1908749103,...,NaN,NaN,NaN,smith,j,person,person,None,None,person-person
196523,196523,24,203,10312050250000,2018.0,2018-02-01 00:00:00+00:00,310000.0,5.491362,96401937.0,1804647122,...,NaN,NaN,NaN,eyad,j,person,person,None,None,person-person
202332,202332,16,202,8082090120000,2020.0,2020-07-01 00:00:00+00:00,285000.0,5.454845,97259780.0,2028544042,...,NaN,NaN,NaN,imperial,j,person,person,None,None,person-person
205797,205797,16,203,8102070140000,2018.0,2018-03-01 00:00:00+00:00,325000.0,5.511883,97440488.0,1810313037,...,NaN,NaN,NaN,m,j,person,person,None,None,person-person
213943,213943,13,203,28093210040000,2018.0,2018-04-01 00:00:00+00:00,265000.0,5.423246,96630708.0,1812334035,...,NaN,NaN,NaN,heba,j,person,person,None,None,person-person
217892,217892,21,211,18034230550000,2018.0,2018-12-01 00:00:00+00:00,535000.0,5.728354,97366135.0,1835408001,...,NaN,NaN,NaN,2602 euclid llc,j,legal_entity,person,None,None,legal_entity-person

In [24]:
sales[sales.seller_id == 't'].head(50)

,Unnamed: 0,township_code,class,pin,year,sale_date,sale_price,sale_price_log10,sale_key,doc_no,...,outlier_std_lower,outlier_std_upper,outlier_description,buyer_id,seller_id,buyer_category,seller_category,buyer_role,seller_role,transaction_type
7581,7581,16,295,8294150060000,2018.0,2018-04-01 00:00:00+00:00,258000.0,5.411620,97039077.0,1811501087,...,NaN,NaN,NaN,mcinerney,t,person,person,None,None,person-person
8475,8475,39,202,24171210220000,2018.0,2018-06-01 00:00:00+00:00,152000.0,5.181844,97410021.0,1817204043,...,NaN,NaN,NaN,caltagerone,t,person,person,None,None,person-person
12700,12700,13,234,28163100070000,2018.0,2018-03-01 00:00:00+00:00,169000.0,5.227887,97113388.0,1808947151,...,NaN,NaN,NaN,farrell,t,person,person,None,None,person-person
12955,12955,71,203,13091160240000,2018.0,2018-02-01 00:00:00+00:00,310000.0,5.491362,97113292.0,1805734029,...,NaN,NaN,NaN,gocha,t,person,person,None,None,person-person
13764,13764,13,203,28203000070000,2019.0,2019-02-01 00:00:00+00:00,230000.0,5.361728,96144384.0,1905341063,...,NaN,NaN,NaN,thurbush,t,person,person,None,None,person-person
14704,14704,29,295,2222070360000,2018.0,2018-01-01 00:00:00+00:00,400000.0,5.602060,97113057.0,1801149087,...,NaN,NaN,NaN,donile,t,person,person,None,None,person-person
18576,18576,37,203,29092040430000,2019.0,2019-05-01 00:00:00+00:00,77000.0,4.886491,96626837.0,1914349275,...,NaN,NaN,NaN,mcintosh,t,person,person,None,None,person-person
19066,19066,30,203,23032090420000,2021.0,2021-05-21 00:00:00+00:00,265000.0,5.423246,7203704.0,2118003204,...,NaN,NaN,NaN,knapp,t,person,person,None,None,person-person
19278,19278,24,205,10152100490000,2019.0,2019-08-01 00:00:00+00:00,410000.0,5.612784,97926744.0,1923555084,...,NaN,NaN,NaN,khan,t,person,person,None,None,person-person
19588,19588,76,211,17282110170000,2018.0,2018-11-01 00:00:00+00:00,670000.0,5.826075,96557943.0,1831855010,...,-2.042376,0.558806,Per SQFT Outlier above the mean,229 w alexander llc,t,legal_entity,person,None,None,legal_entity-person
24616,24616,17,206,11194100240000,2020.0,2020-05-01 00:00:00+00:00,735000.0,5.866287,96889190.0,2017739097,...,NaN,NaN,NaN,quattrocki,t,person,person,None,None,person-person
24697,24697,73,278,14302231610000,2019.0,2019-05-01 00:00:00+00:00,1450000.0,6.161368,98295576.0,1914849342,...,NaN,NaN,NaN,mello,t,person,person,None,None,person-person
25377,25377,72,202,19074280060000,2020.0,2020-04-01 00:00:00+00:00,275250.0,5.439727,96444439.0,2011903176,...,NaN,NaN,NaN,beck,t,person,person,None,None,person-person
25930,25930,70,202,20343040730000,2019.0,2019-11-01 00:00:00+00:00,107000.0,5.029384,96776544.0,1933744014,...,NaN,NaN,NaN,asher bryce llc,t,legal_entity,person,None,None,legal_entity-person
27723,27723,13,202,28162020270000,2022.0,2022-02-02 00:00:00+00:00,214000.0,5.330414,7305325.0,2203420412,...,-2.540162,0.476364,NaN,joshua,t,person,person,None,None,person-person
29361,29361,38,278,3231050060000,2018.0,2018-09-01 00:00:00+00:00,345000.0,5.537819,96372062.0,1830616001,...,NaN,NaN,NaN,khorani,t,person,person,None,None,person-person
30304,30304,31,203,15272200130000,2019.0,2019-06-01 00:00:00+00:00,247000.0,5.392697,96517105.0,1919646039,...,NaN,NaN,NaN,buezo,t,person,person,None,None,person-person
31037,31037,28,295,27312030470000,2018.0,2018-06-01 00:00:00+00:00,243000.0,5.385606,97484284.0,1818447010,...,NaN,NaN,NaN,joudeh,t,person,person,None,None,person-person
31441,31441,22,203,9342070300000,2019.0,2019-12-01 00:00:00+00:00,430000.0,5.633468,98297397.0,1935115077,...,NaN,NaN,NaN,nowak,t,person,person,None,None,person-person
33657,33657,71,211,13051070140000,2018.0,2018-01-01 00:00:00+00:00,385000.0,5.585461,97186878.0,1802618053,...,NaN,NaN,NaN,chicago title land trust,t,legal_entity,person,None,None,legal_entity-person
35385,35385,70,203,26314110270000,2020.0,2020-09-01 00:00:00+00:00,220000.0,5.342423,97371724.0,2029057088,...,NaN,NaN,NaN,early,t,person,person,None,None,person-person
37798,37798,24,205,10142070250000,2018.0,2018-05-01 00:00:00+00:00,438500.0,5.641970,97966177.0,1815206090,...,NaN,NaN,NaN,loomis,t,person,person,None,None,person-person
39857,39857,24,234,10261120210000,2019.0,2019-08-01 00:00:00+00:00,300000.0,5.477121,97110435.0,1923545021,...,-0.661732,1.096065,Per SQFT Outlier above the mean,herrera-salgado,t,person,person,None,None,person-person
39875,39875,24,234,10351040640000,2019.0,2019-11-01 00:00:00+00:00,345000.0,5.537819,97667194.0,1934008336,...,NaN,NaN,NaN,hidaka,t,person,person,None,None,person-person
40187,40187,70,234,26312030280000,2020.0,2020-07-01 00:00:00+00:00,124500.0,5.095169,96777151.0,2023740000,...,NaN,NaN,NaN,angel,t,person,person,None,None,person-person
42129,42129,22,203,9223220090000,2018.0,2018-10-01 00:00:00+00:00,342000.0,5.534026,97410639.0,1830919324,...,NaN,NaN,NaN,grubnic,t,person,person,None,None,person-person
44434,44434,74,210,17042090070000,2019.0,2019-11-01 00:00:00+00:00,1199000.0,6.078819,96702873.0,1931713101,...,NaN,NaN,NaN,mann,t,person,person,None,None,person-person
47291,47291,31,203,15283160010000,2020.0,2020-07-01 00:00:00+00:00,430500.0,5.633973,98076056.0,2029234296,...,NaN,NaN,NaN,hong,t,person,person,None,None,person-person
53685,53685,24,203,10152210400000,2018.0,2018-04-01 00:00:00+00:00,277000.0,5.442480,98299545.0,1814410032,...,NaN,NaN,NaN,nafa holdings llc,t,legal_entity,person,None,None,legal_entity-person
54421,54421,13,234,28224160070000,2020.0,2020-05-01 00:00:00+00:00,148400.0,5.171434,97891059.0,2020320342,...,NaN,NaN,NaN,garcia,t,person,person,None,None,person-person
56180,56180,28,203,27251040010000,2018.0,2018-05-01 00:00:00+00:00,285000.0,5.454845,96519787.0,1815708124,...,NaN,NaN,NaN,galen,t,person,person,None,None,person-person
56493,56493,37,203,29163200120000,2020.0,2020-05-01 00:00:00+00:00,30000.0,4.477121,98409724.0,2021739095,...,NaN,NaN,NaN,manzanares,t,person,person,None,None,person-person
58002,58002,25,206,4102000440000,2018.0,2018-11-01 00:00:00+00:00,525000.0,5.720159,96298167.0,1832406125,...,NaN,NaN,NaN,davie,t,person,person,None,None,person-person
58440,58440,16,205,8112090150000,2019.0,2019-12-01 00:00:00+00:00,212000.0,5.326336,97704559.0,1935457050,...,NaN,NaN,NaN,104 elmhurst llc,t,legal_entity,person,None,None,legal_entity-person
59656,59656,25,278,4064050290000,2019.0,2019-04-01 00:00:00+00:00,745000.0,5.872156,97073213.0,1909934173,...,NaN,NaN,NaN,ettlinger,t,person,person,None,None,person-person
59832,59832,26,203,12131110250000,2020.0,2020-07-01 00:00:00+00:00,390000.0,5.591065,96295538.0,2028425012,...,NaN,NaN,NaN,katrych,t,person,person,None,None,person-person
60126,60126,30,234,23141030020000,2020.0,2020-04-01 00:00:00+00:00,250000.0,5.397940,97075496.0,2019720137,...,NaN,NaN,NaN,overfelt,t,person,person,None,None,person-person
61220,61220,23,295,5323051320000,2018.0,2018-04-01 00:00:00+00:00,282000.0,5.450249,97818364.0,1812349034,...,NaN,NaN,NaN,dong,t,person,person,None,None,person-person
64654,64654,72,203,19034070190000,2019.0,2019-08-01 00:00:00+00:00,142000.0,5.152288,97889216.0,1922855004,...,NaN,NaN,NaN,grandview capital llc,t,legal_entity,person,None,None,legal_entity-person
65549,65549,27,205,16171130320000,2018.0,2018-08-01 00:00:00+00:00,373500.0,5.572291,98226327.0,1823419125,...,-0.999882,0.854574,Per SQFT Outlier above the mean,schuller,t,person,person,None,None,person-person
66474,66474,72,202,19012150390000,2020.0,2020-03-01 00:00:00+00:00,189900.0,5.278525,97482763.0,2009103074,...,NaN,NaN,NaN,rich,t,person,person,None,None,person-person
67070,67070,17,205,5334180310000,2019.0,2019-10-01 00:00:00+00:00,395000.0,5.596597,98149341.0,1931655178,...,-1.088170,0.835466,Per SQFT Outlier above the mean,seidman,t,person,person,None,None,person-person
70082,70082,25,278,4212080060000,2019.0,2019-07-01 00:00:00+00:00,617000.0,5.790285,97555472.0,1921846206,...,NaN,NaN,NaN,chen,t,person,person,None,None,person-person
72113,72113,20,203,12021000050000,2019.0,2019-07-01 00:00:00+00:00,439000.0,5.642465,97184940.0,1920549249,...,NaN,NaN,NaN,thanos,t,person,person,None,None,person-person
80948,80948,31,205,15221020760000,2020.0,2020-06-01 00:00:00+00:00,175000.0,5.243038,97408077.0,2023306398,...,NaN,NaN,NaN,horta,t,person,person,None,None,person-person
82979,82979,22,202,9101030260000,2018.0,2018-05-01 00:00:00+00:00,120000.0,5.079181,96148536.0,1816249312,...,0.685353,2.773331,NaN,kohli,t,person,person,None,None,person-person
85755,85755,24,234,10142150400000,2019.0,2019-01-01 00:00:00+00:00,305000.0,5.484300,97553749.0,1902347025,...,NaN,NaN,NaN,bellegarde,t,person,person,None,None,person-person
89984,89984,72,211,20182120330000,2020.0,2020-05-01 00:00:00+00:00,60000.0,4.778151,98150055.0,2024533044,...,NaN,NaN,NaN,vigil,t,person,person,None,None,person-person
94022,94022,22,203,9223220080000,2018.0,2018-10-01 00:00:00+00:00,342000.0,5.534026,97336499.0,1830919324,...,NaN,NaN,NaN,grubnic,t,person,person,None,None,person-person
96790,96790,77,295,14313191000000,2019.0,2019-09-01 00:00:00+00:00,899900.0,5.954194,98408364.0,1928055095,...,NaN,NaN,NaN,holtzman,t,person,person,None,None,person-person

In [25]:
sales[sales.seller_id == 'e']

,Unnamed: 0,township_code,class,pin,year,sale_date,sale_price,sale_price_log10,sale_key,doc_no,...,outlier_std_lower,outlier_std_upper,outlier_description,buyer_id,seller_id,buyer_category,seller_category,buyer_role,seller_role,transaction_type
857,857,31,210,15031300150000,2018.0,2018-07-01 00:00:00+00:00,100000.0,5.000000,98330596.0,1819855111,...,NaN,NaN,NaN,pilati,e,person,person,None,None,person-person
7474,7474,29,211,2121000650000,2018.0,2018-01-01 00:00:00+00:00,475000.0,5.676694,96513265.0,1801255067,...,NaN,NaN,NaN,select inv fund llc,e,legal_entity,person,None,None,legal_entity-person
8716,8716,72,205,20074100040000,2019.0,2019-01-01 00:00:00+00:00,80000.0,4.903090,96478438.0,1902249088,...,NaN,NaN,NaN,summer lakes llc,e,legal_entity,person,None,None,legal_entity-person
22223,22223,29,204,2282090170000,2018.0,2018-01-01 00:00:00+00:00,335000.0,5.525045,97668841.0,1803615050,...,NaN,NaN,NaN,ohm,e,person,person,None,None,person-person
26767,26767,71,203,13073130520000,2018.0,2018-06-01 00:00:00+00:00,210000.0,5.322219,98152156.0,1819118012,...,NaN,NaN,NaN,bcl-home rehab sub 1,e,legal_entity,person,None,None,legal_entity-person
44708,44708,70,211,20153070250000,2019.0,2019-06-01 00:00:00+00:00,95000.0,4.977724,97443968.0,1917108063,...,NaN,NaN,NaN,gbaf llc,e,legal_entity,person,None,None,legal_entity-person
52635,52635,25,203,4353240070000,2018.0,2018-05-01 00:00:00+00:00,305000.0,5.484300,98077496.0,1812429071,...,NaN,NaN,NaN,dubray,e,person,person,None,None,person-person
53329,53329,73,211,14191200190000,2019.0,2019-09-01 00:00:00+00:00,575000.0,5.759668,97741015.0,1924934018,...,NaN,NaN,NaN,3909 n seeley llc,e,legal_entity,person,None,None,legal_entity-person
59108,59108,27,206,16181040100000,2018.0,2018-07-01 00:00:00+00:00,592000.0,5.772322,97447336.0,1820419215,...,NaN,NaN,NaN,puntillo,e,person,person,None,None,person-person
64204,64204,72,234,24133110480000,2020.0,2020-11-06 00:00:00+00:00,385000.0,5.585461,7116890.0,2102021302,...,NaN,NaN,NaN,kevin,e,person,person,None,None,person-person
72600,72600,72,202,25201040120000,2019.0,2019-12-01 00:00:00+00:00,99900.0,4.999565,98069616.0,2000347168,...,NaN,NaN,NaN,stafford,e,person,person,None,None,person-person
74868,74868,39,203,24092090100000,2019.0,2019-09-01 00:00:00+00:00,250000.0,5.397940,97185111.0,1927457079,...,NaN,NaN,NaN,calderon,e,person,person,None,None,person-person
77770,77770,21,295,18291030130000,2018.0,2018-03-01 00:00:00+00:00,242000.0,5.383815,96401988.0,1808755088,...,NaN,NaN,NaN,anka,e,person,person,None,None,person-person
82615,82615,28,278,27234240040000,2021.0,2021-03-31 00:00:00+00:00,350000.0,5.544068,7201441.0,2115507012,...,-0.103596,1.140093,NaN,wilder,e,person,person,None,None,person-person
97147,97147,28,295,27084070050000,2021.0,2021-03-05 00:00:00+00:00,406000.0,5.608526,7171301.0,2110507154,...,NaN,NaN,NaN,skrobuton,e,person,person,None,None,person-person
102118,102118,73,210,14194020290000,2020.0,2020-07-01 00:00:00+00:00,950000.0,5.977724,98224723.0,2026907250,...,NaN,NaN,NaN,schultz,e,person,person,None,None,person-person
134579,134579,22,295,9143170500000,2018.0,2018-10-01 00:00:00+00:00,235000.0,5.371068,97107272.0,1831849002,...,NaN,NaN,NaN,senol,e,person,person,None,None,person-person
161721,161721,17,206,11193190080000,2019.0,2019-12-01 00:00:00+00:00,799999.0,5.903089,97105498.0,2000247194,...,NaN,NaN,NaN,powell,e,person,person,None,None,person-person
163039,163039,39,203,24092090090000,2019.0,2019-09-01 00:00:00+00:00,250000.0,5.397940,97221985.0,1927457079,...,NaN,NaN,NaN,calderon,e,person,person,None,None,person-person
163486,163486,18,278,6171110370000,2020.0,2020-01-01 00:00:00+00:00,280000.0,5.447158,98033528.0,2003855121,...,NaN,NaN,NaN,sliz,e,person,person,None,None,person-person
188492,188492,71,211,13084250960000,2020.0,2020-09-01 00:00:00+00:00,380000.0,5.579784,96926665.0,2030512043,...,-0.423651,1.641815,NaN,salimbene,e,person,person,None,None,person-person

In [26]:
sales[sales.seller_id == 'r']

,Unnamed: 0,township_code,class,pin,year,sale_date,sale_price,sale_price_log10,sale_key,doc_no,...,outlier_std_lower,outlier_std_upper,outlier_description,buyer_id,seller_id,buyer_category,seller_category,buyer_role,seller_role,transaction_type
15164,15164,25,278,4344131010000,2021.0,2021-03-31 00:00:00+00:00,1095000.0,6.039414,7169604.0,2110212324,...,NaN,NaN,NaN,desmond,r,person,person,None,None,person-person
39457,39457,16,203,8323080220000,2019.0,2019-04-01 00:00:00+00:00,240000.0,5.380211,97888726.0,1912733352,...,NaN,NaN,NaN,jarmula,r,person,person,None,None,person-person
50088,50088,37,203,30311010070000,2020.0,2020-12-23 00:00:00+00:00,93500.0,4.970812,7156309.0,2107128019,...,NaN,NaN,NaN,arenas,r,person,person,None,None,person-person
52280,52280,29,202,2264160030000,2018.0,2018-05-01 00:00:00+00:00,214900.0,5.332236,98336882.0,1815825047,...,NaN,NaN,NaN,schulke,r,person,person,None,None,person-person
74637,74637,23,206,5271010150000,2018.0,2018-08-01 00:00:00+00:00,1659600.0,6.220003,96371827.0,1822710012,...,NaN,NaN,NaN,laroyia,r,person,person,None,None,person-person
78957,78957,35,278,7213000280000,2019.0,2019-12-01 00:00:00+00:00,415000.0,5.618048,96331775.0,1935455070,...,NaN,NaN,NaN,baba,r,person,person,None,None,person-person
81090,81090,37,203,30311010080000,2020.0,2020-12-23 00:00:00+00:00,93500.0,4.970812,7156310.0,2107128019,...,NaN,NaN,NaN,arenas,r,person,person,None,None,person-person
87286,87286,71,203,12243110340000,2019.0,2019-06-01 00:00:00+00:00,323000.0,5.509203,96775789.0,1918933015,...,NaN,NaN,NaN,butler,r,person,person,None,None,person-person
91517,91517,15,211,16281270240000,2019.0,2019-10-01 00:00:00+00:00,220000.0,5.342423,97630024.0,1929155020,...,NaN,NaN,NaN,servin,r,person,person,None,None,person-person
92588,92588,22,203,9351190110000,2021.0,2021-02-21 00:00:00+00:00,407100.0,5.609701,7151747.0,2106817050,...,NaN,NaN,NaN,Empty Name,r,none,person,None,None,none-person
96679,96679,29,278,2301040020000,2020.0,2020-10-20 00:00:00+00:00,475000.0,5.676694,7101699.0,2032807191,...,NaN,NaN,NaN,hoon,r,person,person,None,None,person-person
106847,106847,37,203,30294060960000,2020.0,2020-08-03 00:00:00+00:00,170000.0,5.230449,7095723.0,2032008325,...,NaN,NaN,NaN,andrade,r,person,person,None,None,person-person
114269,114269,21,278,18062010130000,2019.0,2019-10-01 00:00:00+00:00,610000.0,5.785330,97778522.0,1928406083,...,NaN,NaN,NaN,brett,r,person,person,None,None,person-person
114353,114353,16,278,8152060100000,2019.0,2019-11-01 00:00:00+00:00,312000.0,5.494155,97481600.0,1932217023,...,NaN,NaN,NaN,epelbaum,r,person,person,None,None,person-person
115315,115315,35,278,7242070390000,2020.0,2020-04-01 00:00:00+00:00,470000.0,5.672098,96407042.0,2014707277,...,NaN,NaN,NaN,kitawat,r,person,person,None,as trustee,person-person
115593,115593,16,278,8323260220000,2021.0,2021-07-07 00:00:00+00:00,463900.0,5.666424,7216460.0,2120325228,...,NaN,NaN,NaN,saim,r,person,person,None,None,person-person
119331,119331,70,202,26312070140000,2018.0,2018-06-01 00:00:00+00:00,64000.0,4.806180,98225579.0,1815912101,...,NaN,NaN,NaN,rodriguez,r,person,person,None,None,person-person
124277,124277,28,295,27242120270000,2020.0,2020-10-29 00:00:00+00:00,215000.0,5.332438,7125542.0,2100401295,...,NaN,NaN,NaN,deckinga,r,person,person,None,None,person-person
127319,127319,17,206,11301120010000,2019.0,2019-10-01 00:00:00+00:00,630000.0,5.799341,96850427.0,1929606109,...,NaN,NaN,NaN,peace,r,person,person,None,None,person-person
128883,128883,24,206,10351310070000,2019.0,2019-10-01 00:00:00+00:00,495500.0,5.695044,96364140.0,2000945067,...,NaN,NaN,NaN,joseph,r,person,person,None,None,person-person
154764,154764,72,234,19364130130000,2019.0,2019-09-01 00:00:00+00:00,253000.0,5.403121,97185432.0,1926822136,...,NaN,NaN,NaN,rogers,r,person,person,None,None,person-person
159490,159490,37,211,29122100100000,2018.0,2018-04-01 00:00:00+00:00,158000.0,5.198657,97298445.0,1812946052,...,NaN,NaN,NaN,andrews,r,person,person,None,None,person-person
165615,165615,71,211,13232180060000,2019.0,2019-07-01 00:00:00+00:00,540000.0,5.732394,96849994.0,1922417094,...,-1.103337,1.02379,NaN,group 3741 llc,r,legal_entity,person,None,None,legal_entity-person
167451,167451,35,295,7243070500000,2019.0,2019-10-01 00:00:00+00:00,330000.0,5.518514,98297051.0,1930246266,...,NaN,NaN,NaN,gurumoorthy,r,person,person,None,None,person-person
171930,171930,16,203,8324130110000,2018.0,2018-06-01 00:00:00+00:00,300000.0,5.477121,97409765.0,1819249091,...,NaN,NaN,NaN,nordoff,r,person,person,None,None,person-person
185443,185443,22,203,9344110110000,2019.0,2019-06-01 00:00:00+00:00,535000.0,5.728354,98259537.0,1916842005,...,NaN,NaN,NaN,pittelkau,r,person,person,None,None,person-person
200948,200948,71,203,13231110310000,2019.0,2019-03-01 00:00:00+00:00,324000.0,5.510545,97517757.0,1908846035,...,NaN,NaN,NaN,ryan,r,person,person,None,None,person-person
202313,202313,71,206,13154010280000,2019.0,2019-01-01 00:00:00+00:00,575000.0,5.759668,97702408.0,1900819018,...,NaN,NaN,NaN,pitts,r,person,person,None,None,person-person
205982,205982,11,203,16312140240000,2020.0,2020-05-01 00:00:00+00:00,280000.0,5.447158,97817187.0,2021707388,...,NaN,NaN,NaN,olson,r,person,person,None,None,person-person
213123,213123,18,208,6084040170000,2019.0,2019-10-01 00:00:00+00:00,505000.0,5.703291,96220388.0,1929549109,...,NaN,NaN,NaN,naseeruddin,r,person,person,None,None,person-person

In [27]:
sales[sales.seller_id == 'd']

,Unnamed: 0,township_code,class,pin,year,sale_date,sale_price,sale_price_log10,sale_key,doc_no,...,outlier_std_lower,outlier_std_upper,outlier_description,buyer_id,seller_id,buyer_category,seller_category,buyer_role,seller_role,transaction_type
456,456,31,204,15274100690000,2019.0,2019-08-01 00:00:00+00:00,265000.0,5.423246,96590513.0,1922146235,...,NaN,NaN,NaN,sahagun-zavala,d,person,person,None,None,person-person
5710,5710,18,203,6361200380000,2018.0,2018-02-01 00:00:00+00:00,170000.0,5.230449,96624433.0,1806049160,...,NaN,NaN,NaN,m,d,person,person,None,None,person-person
17362,17362,73,211,14291010110000,2018.0,2018-03-01 00:00:00+00:00,925000.0,5.966142,97260829.0,1807347017,...,NaN,NaN,NaN,marks-michaelis family re,d,legal_entity,person,None,None,legal_entity-person
20436,20436,34,203,15261280060000,2018.0,2018-09-01 00:00:00+00:00,215000.0,5.332438,97744597.0,1826806175,...,NaN,NaN,NaN,hernandez,d,person,person,None,None,person-person
20909,20909,38,205,3314030200000,2018.0,2018-01-01 00:00:00+00:00,300000.0,5.477121,96926927.0,1806849061,...,NaN,NaN,NaN,houston,d,person,person,None,None,person-person
28885,28885,71,211,13062140290000,2018.0,2018-04-01 00:00:00+00:00,476000.0,5.677607,97632276.0,1815829355,...,NaN,NaN,NaN,sheridan,d,person,person,None,None,person-person
34059,34059,70,207,26173120140000,2019.0,2019-03-01 00:00:00+00:00,210000.0,5.322219,98407438.0,1907257108,...,NaN,NaN,NaN,salinas,d,person,person,None,None,person-person
34186,34186,70,295,25031250140000,2020.0,2020-11-19 00:00:00+00:00,100000.0,5.000000,7114875.0,2102617525,...,NaN,NaN,NaN,taitt,d,person,person,None,None,person-person
38755,38755,18,203,6182110230000,2020.0,2020-03-01 00:00:00+00:00,167000.0,5.222716,98002267.0,2010520045,...,-2.354546,2.031138,NaN,hernandez,d,person,person,None,None,person-person
39902,39902,20,203,12323240030000,2018.0,2018-02-01 00:00:00+00:00,226000.0,5.354108,97588840.0,1806549049,...,NaN,NaN,NaN,e,d,person,person,None,None,person-person
40224,40224,77,203,17193140110000,2020.0,2020-01-01 00:00:00+00:00,250000.0,5.397940,96770778.0,2003413106,...,NaN,NaN,NaN,monzon,d,person,person,None,None,person-person
40301,40301,17,203,10244140430000,2018.0,2018-02-01 00:00:00+00:00,285000.0,5.454845,98108267.0,1805149041,...,NaN,NaN,NaN,lee,d,person,person,None,None,person-person
45131,45131,72,205,20043310130000,2019.0,2019-08-01 00:00:00+00:00,221000.0,5.344392,97406496.0,1924234066,...,NaN,NaN,NaN,burkins,d,person,person,None,None,person-person
50972,50972,25,278,4021100430000,2019.0,2019-06-01 00:00:00+00:00,435000.0,5.638489,98445233.0,1916846011,...,NaN,NaN,NaN,kagan,d,person,person,None,None,person-person
87136,87136,70,205,20272170310000,2019.0,2019-12-01 00:00:00+00:00,50000.0,4.698970,98106680.0,2000845059,...,NaN,NaN,NaN,maple leaf houses llc,d,legal_entity,person,None,None,legal_entity-person
88364,88364,71,206,12121180240000,2021.0,2021-08-16 00:00:00+00:00,635000.0,5.802774,7251449.0,2127934200,...,NaN,NaN,NaN,tang,d,person,person,None,None,person-person
136480,136480,73,278,14203290080000,2018.0,2018-07-01 00:00:00+00:00,1670000.0,6.222716,97224919.0,1820444061,...,NaN,NaN,NaN,krigel,d,person,person,None,None,person-person
139811,139811,72,202,19173130150000,2019.0,2019-03-01 00:00:00+00:00,178000.0,5.250420,97147161.0,1909949024,...,NaN,NaN,NaN,palafox,d,person,person,None,None,person-person
140636,140636,77,203,16244010250000,2019.0,2019-07-01 00:00:00+00:00,150000.0,5.176091,96293708.0,1925613009,...,NaN,NaN,NaN,uribe,d,person,person,None,None,person-person
142609,142609,21,202,18011170150000,2019.0,2019-05-01 00:00:00+00:00,219000.0,5.340444,96181799.0,1915833357,...,NaN,NaN,NaN,alvarez,d,person,person,None,None,person-person
148582,148582,10,204,1191010060000,2020.0,2020-04-01 00:00:00+00:00,737000.0,5.867467,97593934.0,2010839095,...,NaN,NaN,NaN,depaul,d,person,person,None,None,person-person
155223,155223,24,206,10141070240000,2021.0,2021-01-04 00:00:00+00:00,895000.0,5.951823,7137021.0,2103507603,...,NaN,NaN,NaN,serantoni,d,person,person,None,None,person-person
164954,164954,33,205,15122140020000,2018.0,2018-06-01 00:00:00+00:00,790000.0,5.897627,98374388.0,1816333049,...,NaN,NaN,NaN,koch,d,person,person,None,None,person-person
169475,169475,17,211,10251120240000,2020.0,2020-02-01 00:00:00+00:00,306000.0,5.485721,96363238.0,2005147061,...,NaN,NaN,NaN,topic,d,person,person,None,None,person-person
171181,171181,17,211,10251120250000,2020.0,2020-02-01 00:00:00+00:00,306000.0,5.485721,96585877.0,2005147061,...,NaN,NaN,NaN,topic,d,person,person,None,None,person-person
179460,179460,24,234,10154100290000,2020.0,2020-01-01 00:00:00+00:00,295000.0,5.469822,97514311.0,2001308248,...,NaN,NaN,NaN,jones,d,person,person,None,None,person-person
180101,180101,21,209,18313060240000,2020.0,2020-08-07 00:00:00+00:00,1475000.0,6.168792,7094787.0,2031428028,...,NaN,NaN,NaN,ibrahim,d,person,person,None,None,person-person
196535,196535,72,205,19083000680000,2020.0,2020-04-01 00:00:00+00:00,285000.0,5.454845,96555654.0,2014807017,...,NaN,NaN,NaN,safranek,d,person,person,None,None,person-person
205419,205419,32,278,31333050300000,2020.0,2020-07-01 00:00:00+00:00,168000.0,5.225309,97890802.0,2023033537,...,NaN,NaN,NaN,hughes,d,person,person,None,None,person-person

In [28]:
sales[sales.seller_id == 'k']

,Unnamed: 0,township_code,class,pin,year,sale_date,sale_price,sale_price_log10,sale_key,doc_no,...,outlier_std_lower,outlier_std_upper,outlier_description,buyer_id,seller_id,buyer_category,seller_category,buyer_role,seller_role,transaction_type
3443,3443,72,211,20171130370000,2018.0,2018-12-01 00:00:00+00:00,75000.0,4.875061,97590934.0,1901122025,...,NaN,NaN,NaN,kinsman,k,person,person,None,None,person-person
25239,25239,39,203,24043010380000,2019.0,2019-09-01 00:00:00+00:00,203000.0,5.307496,96590914.0,1925208211,...,NaN,NaN,NaN,kruas,k,person,person,None,None,person-person
26804,26804,71,203,13243170140000,2019.0,2019-08-01 00:00:00+00:00,574000.0,5.758912,96664669.0,1922722045,...,NaN,NaN,NaN,piehl,k,person,person,None,None,person-person
37395,37395,39,203,24043010370000,2019.0,2019-09-01 00:00:00+00:00,203000.0,5.307496,96627951.0,1925208211,...,NaN,NaN,NaN,kruas,k,person,person,None,None,person-person
42400,42400,77,211,13251020310000,2020.0,2020-06-01 00:00:00+00:00,598500.0,5.777064,98038849.0,2021121099,...,NaN,NaN,NaN,dill,k,person,person,None,None,person-person
63161,63161,29,234,2032090070000,2018.0,2018-03-01 00:00:00+00:00,275000.0,5.439333,98145400.0,1809257003,...,NaN,NaN,NaN,lauren,k,person,person,None,as trustee,person-person
177453,177453,71,203,13232290030000,2018.0,2018-07-01 00:00:00+00:00,329000.0,5.517196,96890751.0,1819949168,...,NaN,NaN,NaN,kwak,k,person,person,None,None,person-person
201976,201976,16,203,8282160140000,2019.0,2019-06-01 00:00:00+00:00,185000.0,5.267172,98407896.0,1918346072,...,NaN,NaN,NaN,hunter,k,person,person,None,None,person-person

In [29]:
sales[sales.seller_id == 's']

,Unnamed: 0,township_code,class,pin,year,sale_date,sale_price,sale_price_log10,sale_key,doc_no,...,outlier_std_lower,outlier_std_upper,outlier_description,buyer_id,seller_id,buyer_category,seller_category,buyer_role,seller_role,transaction_type
1683,1683,72,205,25063020540000,2019.0,2019-06-01 00:00:00+00:00,305000.0,5.484300,96887198.0,1918645092,...,NaN,NaN,NaN,hagans,s,person,person,None,None,person-person
4070,4070,39,204,24312010080000,2018.0,2018-12-01 00:00:00+00:00,235000.0,5.371068,96144013.0,1900813011,...,NaN,NaN,NaN,il,s,person,person,None,None,person-person
6835,6835,11,203,16314120380000,2019.0,2019-10-01 00:00:00+00:00,388000.0,5.588832,96257356.0,1929555019,...,NaN,NaN,NaN,claudio,s,person,person,None,None,person-person
8982,8982,71,203,13053240420000,2018.0,2018-07-01 00:00:00+00:00,340000.0,5.531479,96965236.0,1820533019,...,NaN,NaN,NaN,le,s,person,person,None,None,person-person
12882,12882,71,203,13112210030000,2018.0,2018-11-01 00:00:00+00:00,260000.0,5.414973,96261081.0,1833847040,...,NaN,NaN,NaN,patel,s,person,person,None,None,person-person
18796,18796,10,208,1013080290000,2020.0,2020-06-01 00:00:00+00:00,865000.0,5.937016,98446693.0,2025407171,...,NaN,NaN,NaN,wonder,s,person,person,None,None,person-person
19243,19243,22,234,9134120140000,2018.0,2018-03-01 00:00:00+00:00,285000.0,5.454845,97849259.0,1808949147,...,NaN,NaN,NaN,bijay,s,person,person,None,as trustee,person-person
22012,22012,34,203,15251070190000,2018.0,2018-04-01 00:00:00+00:00,215000.0,5.332438,97335316.0,1812901227,...,NaN,NaN,NaN,wright,s,person,person,None,None,person-person
23602,23602,37,203,30072080090000,2020.0,2020-02-01 00:00:00+00:00,70000.0,4.845098,98372659.0,2007057031,...,NaN,NaN,NaN,carrasco,s,person,person,None,None,person-person
31312,31312,72,205,20064230150000,2019.0,2019-11-01 00:00:00+00:00,70000.0,4.845098,97742030.0,1931246020,...,NaN,NaN,NaN,chagoya,s,person,person,None,None,person-person
33108,33108,71,203,13051190370000,2018.0,2018-07-01 00:00:00+00:00,397000.0,5.598791,96594099.0,1819713076,...,NaN,NaN,NaN,anderson,s,person,person,None,None,person-person
37717,37717,39,203,24104220470000,2019.0,2019-06-01 00:00:00+00:00,205000.0,5.311754,96701806.0,1918408307,...,NaN,NaN,NaN,walczak,s,person,person,None,None,person-person
42102,42102,73,211,14291120260000,2018.0,2018-09-01 00:00:00+00:00,753000.0,5.876795,97930358.0,1827704020,...,NaN,NaN,NaN,bhat,s,person,person,None,None,person-person
42688,42688,30,278,23283050010000,2019.0,2019-03-01 00:00:00+00:00,540000.0,5.732394,97852269.0,1908146042,...,NaN,NaN,NaN,mcnicholas,s,person,person,None,None,person-person
54327,54327,36,203,19293060420000,2019.0,2019-08-01 00:00:00+00:00,249000.0,5.396199,97517939.0,1924157082,...,NaN,NaN,NaN,cornejo,s,person,person,None,None,person-person
56150,56150,18,203,6144170130000,2019.0,2019-05-01 00:00:00+00:00,250000.0,5.397940,97999351.0,1913718066,...,NaN,NaN,NaN,kamptner,s,person,person,None,None,person-person
56298,56298,77,211,17061030340000,2018.0,2018-05-01 00:00:00+00:00,1300000.0,6.113943,96519677.0,1812729020,...,NaN,NaN,NaN,shakeri,s,person,person,None,None,person-person
58633,58633,37,204,29251040210000,2020.0,2020-05-01 00:00:00+00:00,148000.0,5.170262,96592025.0,2021739117,...,NaN,NaN,NaN,olaniyi,s,person,person,None,None,person-person
61853,61853,13,203,28302070410000,2018.0,2018-06-01 00:00:00+00:00,169000.0,5.227887,97669642.0,1819246058,...,NaN,NaN,NaN,ksiazek,s,person,person,None,None,person-person
73262,73262,72,202,20291320420000,2019.0,2019-07-01 00:00:00+00:00,127000.0,5.103804,96219814.0,1922017053,...,NaN,NaN,NaN,tyson,s,person,person,None,None,person-person
74346,74346,16,203,8332160060000,2019.0,2019-08-01 00:00:00+00:00,170000.0,5.230449,97963020.0,1923246033,...,-0.503814,1.279678,NaN,greco,s,person,person,None,None,person-person
77586,77586,12,203,32172270110000,2020.0,2020-01-01 00:00:00+00:00,169900.0,5.230193,96920607.0,2003633223,...,NaN,NaN,NaN,tonya,s,person,person,None,None,person-person
86064,86064,18,204,6093070240000,2018.0,2018-08-01 00:00:00+00:00,395000.0,5.596597,97336193.0,1823519036,...,NaN,NaN,NaN,voeller,s,person,person,None,None,person-person
92493,92493,13,203,28363180070000,2019.0,2019-10-01 00:00:00+00:00,70000.0,4.845098,97778582.0,1929106281,...,NaN,NaN,NaN,dnv investment group inc,s,legal_entity,person,None,None,legal_entity-person
95174,95174,70,234,25013130220000,2018.0,2018-10-01 00:00:00+00:00,165000.0,5.217484,97814023.0,1903219363,...,NaN,NaN,NaN,morris,s,person,person,None,None,person-person
107949,107949,29,203,2123060240000,2019.0,2019-03-01 00:00:00+00:00,272500.0,5.435367,96330668.0,1909855472,...,NaN,NaN,NaN,doheny,s,person,person,None,None,person-person
110689,110689,70,211,20264140120000,2019.0,2019-07-01 00:00:00+00:00,30000.0,4.477121,97036515.0,1921816081,...,-2.565299,1.627474,Valuation Outlier below the mean,coach quality rehabs llc,s,legal_entity,person,None,None,legal_entity-person
112317,112317,24,206,10141020370000,2019.0,2019-01-01 00:00:00+00:00,632000.0,5.800717,97776711.0,1903712008,...,NaN,NaN,NaN,chicago title land trust,s,legal_entity,person,None,None,legal_entity-person
116660,116660,75,206,10361140210000,2018.0,2018-07-01 00:00:00+00:00,1000000.0,6.000000,97261855.0,1821119115,...,NaN,NaN,NaN,meystel,s,person,person,None,None,person-person
124349,124349,25,278,4094090280000,2019.0,2019-06-01 00:00:00+00:00,975000.0,5.989005,97591978.0,1919755181,...,NaN,NaN,NaN,broude,s,person,person,None,None,person-person
129504,129504,13,234,28344080160000,2019.0,2019-07-01 00:00:00+00:00,90000.0,4.954243,98000778.0,1919134016,...,NaN,NaN,NaN,myles,s,person,person,None,None,person-person
131383,131383,39,202,24171240060000,2018.0,2018-07-01 00:00:00+00:00,152500.0,5.183270,97707231.0,1821849040,...,NaN,NaN,NaN,radosevic,s,person,person,None,None,person-person
135658,135658,36,211,19311060220000,2019.0,2019-02-01 00:00:00+00:00,465000.0,5.667453,98147737.0,1905349324,...,NaN,NaN,NaN,property way llc,s,legal_entity,person,None,None,legal_entity-person
148645,148645,25,278,4091100150000,2018.0,2018-04-01 00:00:00+00:00,670000.0,5.826075,96445218.0,1810046172,...,NaN,NaN,NaN,drake,s,person,person,None,None,person-person
152938,152938,75,206,10361140280000,2018.0,2018-07-01 00:00:00+00:00,1000000.0,6.000000,96483228.0,1821119115,...,NaN,NaN,NaN,meystel,s,person,person,None,None,person-person
154098,154098,71,205,13071040260000,2020.0,2020-03-01 00:00:00+00:00,445000.0,5.648360,98039157.0,2009021081,...,NaN,NaN,NaN,brien,s,person,person,None,None,person-person
157399,157399,72,203,25203130160000,2019.0,2019-12-01 00:00:00+00:00,40000.0,4.602060,96214501.0,2000213008,...,NaN,NaN,NaN,sp restoration inc,s,legal_entity,person,None,None,legal_entity-person
159360,159360,73,203,14183210170000,2018.0,2018-05-01 00:00:00+00:00,905000.0,5.956649,96890460.0,1815906076,...,NaN,NaN,NaN,brighton,s,person,person,None,as trustee,person-person
163897,163897,71,211,13124170130000,2018.0,2018-12-01 00:00:00+00:00,505000.0,5.703291,96327663.0,1835312009,...,NaN,NaN,NaN,mitiu,s,person,person,None,None,person-person
177773,177773,38,204,3243140080000,2019.0,2019-11-01 00:00:00+00:00,295000.0,5.469822,97704893.0,1933815092,...,NaN,NaN,NaN,christian,s,person,person,None,None,person-person
178838,178838,13,203,28162060050000,2020.0,2020-08-01 00:00:00+00:00,162500.0,5.210853,96258965.0,2029506241,...,NaN,NaN,NaN,badovsky,s,person,person,None,None,person-person
186223,186223,24,203,10221030660000,2018.0,2018-05-01 00:00:00+00:00,317500.0,5.501744,96445661.0,1815629127,...,NaN,NaN,NaN,blumstein,s,person,person,None,None,person-person
187690,187690,37,203,30071200140000,2018.0,2018-12-01 00:00:00+00:00,70000.0,4.845098,96663536.0,1900257007,...,NaN,NaN,NaN,warnsley,s,person,person,None,None,person-person
190654,190654,29,278,2031040830000,2020.0,2020-08-01 00:00:00+00:00,520000.0,5.716003,97817493.0,2028720049,...,NaN,NaN,NaN,moise,s,person,person,None,None,person-person
191000,191000,12,234,32081130210000,2020.0,2020-12-04 00:00:00+00:00,155000.0,5.190332,7135832.0,2105433030,...,NaN,NaN,NaN,carpio,s,person,person,None,None,person-person
210585,210585,24,206,10141020360000,2019.0,2019-01-01 00:00:00+00:00,632000.0,5.800717,96626549.0,1903712008,...,NaN,NaN,NaN,chicago title land trust,s,legal_entity,person,None,None,legal_entity-person
218096,218096,21,202,18243070160000,2019.0,2019-08-01 00:00:00+00:00,199900.0,5.300813,96182096.0,1923306105,...,NaN,NaN,NaN,trevino,s,person,person,None,None,person-person

In [30]:
sales[sales.seller_id == 'a']

,Unnamed: 0,township_code,class,pin,year,sale_date,sale_price,sale_price_log10,sale_key,doc_no,...,outlier_std_lower,outlier_std_upper,outlier_description,buyer_id,seller_id,buyer_category,seller_category,buyer_role,seller_role,transaction_type
2666,2666,13,234,28321000200000,2019.0,2019-03-01 00:00:00+00:00,265000.0,5.423246,97035429.0,1906506100,...,-1.479577,0.635400,NaN,thompson,a,person,person,None,None,person-person
24961,24961,29,204,2354070040000,2018.0,2018-02-01 00:00:00+00:00,396000.0,5.597695,97594685.0,1806549074,...,NaN,NaN,NaN,baar,a,person,person,None,None,person-person
31353,31353,35,234,7312160190000,2019.0,2019-03-01 00:00:00+00:00,150000.0,5.176091,97443062.0,1906549210,...,-0.446444,1.611833,NaN,little sumpin renovations,a,legal_entity,person,None,None,legal_entity-person
34590,34590,18,278,6062090030000,2020.0,2020-02-01 00:00:00+00:00,319999.0,5.505149,97329113.0,2012608141,...,NaN,NaN,NaN,mendoza,a,person,person,None,None,person-person
52146,52146,19,278,22283050040000,2019.0,2019-08-01 00:00:00+00:00,425000.0,5.628389,97555226.0,1924916006,...,NaN,NaN,NaN,popadic,a,person,person,None,None,person-person
62007,62007,29,203,2361030080000,2019.0,2019-05-01 00:00:00+00:00,235000.0,5.371068,96886346.0,1915455004,...,NaN,NaN,NaN,chad,a,person,person,None,None,person-person
62035,62035,29,207,2261140210000,2018.0,2018-04-01 00:00:00+00:00,282000.0,5.450249,98262140.0,1811655045,...,NaN,NaN,NaN,m,a,person,person,None,None,person-person
72101,72101,13,203,28234010390000,2019.0,2019-09-01 00:00:00+00:00,152000.0,5.181844,97296075.0,1928055342,...,NaN,NaN,NaN,goston,a,person,person,None,None,person-person
89774,89774,35,295,7184030810000,2020.0,2020-01-01 00:00:00+00:00,147000.0,5.167317,96400453.0,2004413066,...,NaN,NaN,NaN,divorce,a,person,person,None,None,person-person
112097,112097,74,295,17043160470000,2018.0,2018-09-01 00:00:00+00:00,535000.0,5.728354,98115563.0,1826442070,...,NaN,NaN,NaN,mueller,a,person,person,None,None,person-person
140291,140291,71,202,12122320060000,2022.0,2022-01-08 00:00:00+00:00,258000.0,5.411620,7298732.0,2203540099,...,NaN,NaN,NaN,abraham,a,person,person,None,None,person-person
145219,145219,71,203,13333070130000,2019.0,2019-12-01 00:00:00+00:00,190000.0,5.278754,97481610.0,1934749020,...,NaN,NaN,NaN,gonzalez,a,person,person,None,None,person-person
147858,147858,28,234,27161110080000,2019.0,2019-09-01 00:00:00+00:00,11100.0,4.045323,97445057.0,1931734172,...,-0.725113,1.296117,NaN,village of orland park,a,legal_entity,person,None,None,legal_entity-person
162689,162689,28,278,27031050230000,2021.0,2021-08-23 00:00:00+00:00,416000.0,5.619093,7229049.0,2124306255,...,NaN,NaN,NaN,roberto,a,person,person,None,None,person-person
178573,178573,35,278,7192090100000,2020.0,2020-04-01 00:00:00+00:00,439000.0,5.642465,97779635.0,2012007352,...,NaN,NaN,NaN,balakrishnan,a,person,person,None,None,person-person
186598,186598,72,211,20172190340000,2018.0,2018-07-01 00:00:00+00:00,50000.0,4.698970,96185744.0,1821319132,...,NaN,NaN,NaN,g,a,person,person,None,None,person-person
190705,190705,18,278,6313150010000,2018.0,2018-07-01 00:00:00+00:00,340000.0,5.531479,98300127.0,1822619384,...,NaN,NaN,NaN,nomi,a,person,person,None,None,person-person
199107,199107,71,202,12252060100000,2020.0,2020-10-29 00:00:00+00:00,300000.0,5.477121,7097318.0,2033538297,...,NaN,NaN,NaN,alexander,a,person,person,None,None,person-person
212724,212724,28,278,27023160110000,2020.0,2020-08-01 00:00:00+00:00,525000.0,5.720159,97186501.0,2030040229,...,NaN,NaN,NaN,e,a,person,person,None,None,person-person

In [31]:
sales[sales.buyer_id == 't'].head(20)

,Unnamed: 0,township_code,class,pin,year,sale_date,sale_price,sale_price_log10,sale_key,doc_no,...,outlier_std_lower,outlier_std_upper,outlier_description,buyer_id,seller_id,buyer_category,seller_category,buyer_role,seller_role,transaction_type
4349,4349,30,204,23024000280000,2018.0,2018-03-01 00:00:00+00:00,217000.0,5.336460,96476311.0,1808246105,...,NaN,NaN,NaN,t,atg trust co tr 000000l016080,person,legal_entity,None,None,person-legal_entity
17571,17571,73,278,14203210070000,2018.0,2018-06-01 00:00:00+00:00,2040000.0,6.309630,96371469.0,1819016051,...,NaN,NaN,NaN,t,1443 henderson llc,person,legal_entity,None,None,person-legal_entity
18203,18203,12,234,32171180150000,2018.0,2018-08-01 00:00:00+00:00,65000.0,4.812913,97856564.0,1825346007,...,-2.112378,0.815801,NaN,t,heerwagen,person,person,None,None,person-person
20139,20139,12,203,32041050120000,2018.0,2018-03-01 00:00:00+00:00,160000.0,5.204120,96772470.0,1808546189,...,NaN,NaN,NaN,t,ca homes prop llc,person,legal_entity,None,None,person-legal_entity
53078,53078,19,295,22272030420000,2020.0,2020-07-01 00:00:00+00:00,296000.0,5.471292,97075183.0,2025515000,...,NaN,NaN,NaN,t,evenhouse,person,person,None,None,person-person
55066,55066,72,203,20041260510000,2020.0,2020-07-01 00:00:00+00:00,339000.0,5.530200,96926062.0,2026607006,...,NaN,NaN,NaN,t,hughes,person,person,None,as trustee,person-person
58684,58684,11,205,16314230390000,2018.0,2018-01-01 00:00:00+00:00,250000.0,5.397940,98076951.0,1803108254,...,NaN,NaN,NaN,t,snezana,person,person,None,None,person-person
61379,61379,29,234,2302030100000,2019.0,2019-06-01 00:00:00+00:00,525000.0,5.720159,98296302.0,1919306021,...,-0.507376,1.372804,Per SQFT Outlier below the mean,t,hughes,person,person,None,None,person-person
61717,61717,77,211,17193080320000,2018.0,2018-01-01 00:00:00+00:00,350000.0,5.544068,97446316.0,1802647116,...,NaN,NaN,NaN,t,chicago title land trust,person,legal_entity,None,None,person-legal_entity
66604,66604,39,203,24284050110000,2018.0,2018-05-01 00:00:00+00:00,213000.0,5.328380,97886172.0,1817347005,...,NaN,NaN,NaN,t,noftz,person,person,None,None,person-person
80742,80742,25,278,4322090330000,2018.0,2018-03-01 00:00:00+00:00,670000.0,5.826075,96445214.0,1810012022,...,NaN,NaN,NaN,t,weekley homes llc,person,legal_entity,None,None,person-legal_entity
112948,112948,25,204,4203050330000,2020.0,2020-08-01 00:00:00+00:00,667500.0,5.824451,96740816.0,2028444136,...,NaN,NaN,NaN,t,t,person,person,None,None,person-person
119176,119176,21,205,18072020260000,2018.0,2018-03-01 00:00:00+00:00,330000.0,5.518514,96624458.0,1809355155,...,NaN,NaN,NaN,t,aaron,person,person,None,None,person-person
120294,120294,31,203,15213150180000,2018.0,2018-04-01 00:00:00+00:00,220000.0,5.342423,97218032.0,1810755101,...,NaN,NaN,NaN,t,michael,person,person,None,None,person-person
135942,135942,18,295,6283020720000,2020.0,2020-07-01 00:00:00+00:00,215000.0,5.332438,96777338.0,2026607578,...,NaN,NaN,NaN,t,cutler,person,person,None,None,person-person
140903,140903,25,295,4031010730000,2019.0,2019-10-01 00:00:00+00:00,325000.0,5.511883,98112279.0,1929608231,...,NaN,NaN,NaN,t,bery,person,person,None,as successor,person-person
147272,147272,17,204,11192030180000,2018.0,2018-04-01 00:00:00+00:00,1050000.0,6.021189,97372311.0,1810001021,...,NaN,NaN,NaN,t,welsh,person,person,None,as trustee,person-person
166716,166716,31,203,15073111010000,2020.0,2020-03-01 00:00:00+00:00,280000.0,5.447158,97149416.0,2011820170,...,NaN,NaN,NaN,t,jacobs,person,person,None,None,person-person
166792,166792,25,278,4173030300000,2019.0,2019-12-01 00:00:00+00:00,575000.0,5.759668,96511609.0,2000908646,...,NaN,NaN,NaN,t,leedom,person,person,None,None,person-person
169871,169871,37,203,29112010480000,2018.0,2018-05-01 00:00:00+00:00,26000.0,4.414973,97855786.0,1817634059,...,NaN,NaN,NaN,t,wells fargo bank national,person,legal_entity,None,None,person-legal_entity

In [32]:
sales[sales.buyer_id == 'a'].head(20)

,Unnamed: 0,township_code,class,pin,year,sale_date,sale_price,sale_price_log10,sale_key,doc_no,...,outlier_std_lower,outlier_std_upper,outlier_description,buyer_id,seller_id,buyer_category,seller_category,buyer_role,seller_role,transaction_type
26100,26100,31,204,15343060280000,2019.0,2019-12-01 00:00:00+00:00,430000.0,5.633468,96888064.0,1935208118,...,NaN,NaN,NaN,a,filbey,person,person,None,None,person-person
45878,45878,22,203,9224130390000,2021.0,2021-01-18 00:00:00+00:00,549000.0,5.739572,7136855.0,2104007167,...,NaN,NaN,NaN,a,robert,person,person,None,None,person-person
56940,56940,28,278,27141050120000,2019.0,2019-09-01 00:00:00+00:00,360000.0,5.556303,96591567.0,1926046341,...,NaN,NaN,NaN,a,wood,person,person,None,None,person-person
70021,70021,19,234,22283070070000,2019.0,2019-04-01 00:00:00+00:00,375000.0,5.574031,96775290.0,1911908002,...,NaN,NaN,NaN,a,chicago title land trust,person,legal_entity,None,None,person-legal_entity
76884,76884,25,204,4322090400000,2020.0,2020-01-01 00:00:00+00:00,682334.0,5.833997,98478608.0,2004422105,...,NaN,NaN,NaN,a,hawthorn 45 llc,person,legal_entity,None,None,person-legal_entity
77929,77929,20,203,12211030960000,2018.0,2018-12-01 00:00:00+00:00,220000.0,5.342423,97448094.0,1835349231,...,NaN,NaN,NaN,a,karl,person,person,None,None,person-person
114681,114681,26,204,12133080100000,2020.0,2020-09-01 00:00:00+00:00,375000.0,5.574031,97483189.0,2030016029,...,NaN,NaN,NaN,a,regacho,person,person,None,None,person-person

In [33]:
sales[sales.buyer_id == 'c'].head(20)

,Unnamed: 0,township_code,class,pin,year,sale_date,sale_price,sale_price_log10,sale_key,doc_no,...,outlier_std_lower,outlier_std_upper,outlier_description,buyer_id,seller_id,buyer_category,seller_category,buyer_role,seller_role,transaction_type
2496,2496,17,206,5334160180000,2020.0,2020-08-01 00:00:00+00:00,770000.0,5.886491,96667009.0,2028739079,...,NaN,NaN,NaN,c,sawczuk,person,person,None,None,person-person
20943,20943,30,234,23142020180000,2018.0,2018-02-01 00:00:00+00:00,238000.0,5.376577,96958377.0,1807457162,...,NaN,NaN,NaN,c,marc,person,person,None,None,person-person
24801,24801,38,203,3331180070000,2021.0,2021-01-05 00:00:00+00:00,296000.0,5.471292,7142523.0,2103601285,...,NaN,NaN,NaN,c,weatherred,person,person,None,None,person-person
54472,54472,29,278,2352130070000,2018.0,2018-09-01 00:00:00+00:00,453000.0,5.656098,96557635.0,1828222041,...,NaN,NaN,NaN,c,vida,person,person,None,None,person-person
69363,69363,71,211,13054290240000,2018.0,2018-04-01 00:00:00+00:00,445000.0,5.648360,96704692.0,1811534065,...,NaN,NaN,NaN,c,oliveri,person,person,None,None,person-person
100288,100288,73,206,14283120650000,2019.0,2019-08-01 00:00:00+00:00,2440000.0,6.387390,98259873.0,1925555060,...,1.025221,2.621652,Valuation Outlier above the mean,c,hoyer,person,person,None,None,person-person
127130,127130,29,278,2092030280000,2020.0,2020-07-01 00:00:00+00:00,450000.0,5.653213,97964579.0,2024439051,...,NaN,NaN,NaN,c,blue flag holdings llc,person,legal_entity,None,None,person-legal_entity
132235,132235,74,208,14331280100000,2018.0,2018-07-01 00:00:00+00:00,3778300.0,6.577296,97707277.0,1822216035,...,NaN,NaN,NaN,c,murphy,person,person,None,None,person-person
145784,145784,28,295,27212030250000,2018.0,2018-11-01 00:00:00+00:00,315000.0,5.498311,97485325.0,1833208077,...,NaN,NaN,NaN,c,dytrych,person,person,None,None,person-person
171243,171243,10,234,1012120160000,2019.0,2019-03-01 00:00:00+00:00,453000.0,5.656098,97368202.0,1906512064,...,NaN,NaN,NaN,c,jackson,person,person,None,None,person-person
180440,180440,18,278,6214070100000,2018.0,2018-01-01 00:00:00+00:00,291000.0,5.463893,98410535.0,1802349238,...,NaN,NaN,NaN,c,abdul,person,person,None,None,person-person
202459,202459,13,278,28203100170000,2021.0,2021-10-15 00:00:00+00:00,360000.0,5.556303,7257960.0,2129955037,...,NaN,NaN,NaN,c,cawley,person,person,None,None,person-person

## Validation

In [34]:
valid = sales[['buyer_name','seller_name','buyer_id','seller_id']]

In [35]:
pd.set_option('display.max_rows', 500)
valid.sample(200)

,buyer_name,seller_name,buyer_id,seller_id
176317,LENORE JOSEPH,ARNOLD VANDER NAT TRUSTEE,joseph,nat
136567,GABOR TALAN,GEORGE M DLUHY AND SUSAN,talan,dluhy
213667,NATALIE DOMBI,MCCORMICK HOMES LLC,dombi,mccormick homes llc
109703,LESTER TAYLOR,,taylor,Empty Name
211427,MICHELLE ROSALES,KATARZYNA KUC,michelle rosales,kuc
30552,CHICAGO ANTI-EVICTION CAM,FEDERAL NATIONAL MORTGAGE,cam,fannie mae
184219,ASHANTA ROSS,,ross,Empty Name
99211,DENEAN AND DANIA MANAGEME,GLENDALE DOOLEY,denean,dooley
82173,REYES HOME REMODELING IN,SNL INVESTMENTS LLC,reyes home remodeling in,snl investments llc
108259,SUSANA GARIBAY,PETER D WELLS,garibay,wells
97045,JUDITH ESCOBAR,MATTHEW A WOOLSEY,escobar,woolsey
97877,XIAN TIN,OMAR PINA,tin,pina
72593,SHAUN CONYERS,FREDERICK JOHNSON,conyers,johnson
198464,ANDREW D STAEHLIN,JAMES R LESCHMAN,staehlin,leschman
21614,,,Empty Name,Empty Name
79040,ESTHER AL-KHZALEH,ELZBIETA SKOCZEN,al-khzaleh,skoczen
23321,1516 OHIO LLC,SAMUEL LASCO AS TRUSTEE,1516 ohio llc,lasco
167690,AHMAD AOUN,PETER KOULOGEORGE,aoun,koulogeorge
76512,FAI ZHEN,AVELARDO AVILA,zhen,avila
81340,ERIN BANKS,,erin banks,Empty Name
211241,BRIAN H OVERPECK,BERNARD C MAUCH,overpeck,mauch
39729,,,Empty Name,Empty Name
4915,JOSHUA D DREYMANN,SALVADOR SANCHEZ,dreymann,sanchez
131957,ARIEL CHAVEZ,MICHAEL T CHIN,chavez,chin
106706,WHIPPLE ROSCOE LLC,CHICAGO TITLE LAND TRUST,whipple roscoe llc,chicago title land trust
72777,MELANIE N BURNS,ANTOINETTE HARRIS,burns,harris
142507,SPRINGVIEW INVESTMENTS II,AMERICAN RESIDENTIAL LEAS,springview investments ii,leas
82124,GREATER CHICAGOLAND FELLO,FEDERAL NATIONAL MORTGAGE,greater chicagoland fello,fannie mae
24396,SCYMONE DORTCH,,dortch,Empty Name
57336,KEB INVESTMENTS LLC,LIVING IN A DREAM INVESTM,keb investments llc,living in a dream investm
26035,DAWN HENRY,ANITA F MILLER,henry,miller
112113,WALTER VICTORIANO GUARTAN DELGADO,R amp C REAL ESTATE INVES,delgado,rc real estate inves
84588,DIARMUID MORAN,PRIME DESIGN CONSTRUCTION,moran,prime design construction
22389,,,Empty Name,Empty Name
136420,BEN J SZANTO,REINALDO RODRIGUEZ,szanto,rodriguez
81688,HUGO DOMINGUEZ,JOSE R SALDANA,dominguez,saldana
112401,DARRELL STANFIELD,LOUIS D LA FAYETTE JR,stanfield,fayette
5632,JOSE JESUS GALVAN,MARIA F REYES,galvan,reyes
190929,QURRATULAIN HAYAT,,hayat,Empty Name
13774,ZEID KARADSHEH,TODD M PRICE,karadsheh,price
136369,JEANNETTE GARNER,TRAVIS A PATTEN,garner,patten
76096,LEONARD APPLETON,SELLER S ADVANTAGE CHI-TO,appleton,chi-to
34216,DEVON MADISON,,madison,Empty Name
104399,CRAIG CULBERT,TIMOTHY M PENNISE,culbert,pennise
159604,EDGHARDO E LANDA SANGABRIEL,GUILLERMO B HERNANDEZ,edghardo e landa sangabriel,hernandez
47015,MARY ELIZABETH TOWNSEND-BALDWIN,,townsend-baldwin,Empty Name
43236,,,Empty Name,Empty Name
31255,HAROLD BLUM,GEORGE ARDELEAN A K A GEORGE ARDELE,blum,ardelean
192047,ASIEL FIGUEROA,CHRISTINA MARIA CZESZEWSKI,figueroa,czeszewski
130602,GRANDVIEW CAPITAL LLC A,CHICAGO POLICE SERGEANTS,grandview capital llc a,sergeants
150563,JULIENNE S AU,CHARLES BARTELS,au,bartels
136734,DANIEL ABERLE,WILLIAM W WHITE,aberle,white
25490,,JOHN F O MEARA,Empty Name,meara
107347,MICHAEL KEATING,TIMOTHY SCANNELL,keating,scannell
30898,XU MING WU A K A XU M WU,RONALD ZIVKOVIC AS SUCCE,wu,zivkovic
181341,GREGORY JASINSKI,JADWIGA STOKLOSA,jasinski,stoklosa
75186,MIN HYOCK PARK,CATHERINE Y CHOI,park,choi
72949,JULIANNE E HORNING,DEIRDRE M KEMP,horning,kemp
74767,EDWARD STYRCZULA,U S BANK NATIONAL ASSOCI,styrczula,us bank national association
146556,ERIN MARIE FEO,AMARNATH NARAYANAN,feo,narayanan
116068,ELIAS MEJIA,ANGEL BRIZUELA,mejia,brizuela
25902,EILEEN MEYER,RENITA D DUNCAN,meyer,duncan
59670,ALEX KREISMAN,CHESTER PUDLO,kreisman,pudlo
82779,RALPH PATRELLO,AIMEE VINCENT,patrello,vincent
179307,ZIQIANG ZHANG,CHRISTOPHER K TRALMER,zhang,tralmer
128270,PRESTIGE HOUSING SOLUTION,BANK OF AMERICA N A,prestige housing solution,bank of america national
63907,MARTIN SANCHEZ LOPEZ,JOSE JESUS FERRER,lopez,ferrer
148994,UJJWAL RASTOGI,GREGORY P MORRIS,rastogi,morris
123833,MYLESTONE PROPERTIES LLC,BARBARA A LONG,mylestone properties llc,long
148845,DANIEL SALIFOU,RUBEN DELGADO,salifou,delgado
72045,ALEXANDER RAMOS,JOHN C CURIN AS SUCCESSO,ramos,curin
204982,FALISA NINA ZINN,AGNES L PARKER,zinn,parker
95713,ELIZABETH LOGAN,RACHEL FARDON,logan,fardon
112505,CRYSTAL DURAN,EDWARD NAMROUD,duran,namroud
136769,R ZAVALA PROPERTIES COR,MARQUETTE BANK AS TRUSTEE 11351,r zavala properties cor,marquette bank 11351
201800,SAMUEL DARIO DIAZ,U S BANK TRUST NATIONAL,diaz,us bank national association
26827,NELSON MEJIA ANGEL,JESSE GUADARRAMA,angel,guadarrama
169792,RASHAAD ROSS,PBG MASONRY INC,ross,pbg masonry inc
8760,MARGARITO GALLEGOS,JOHN ORDAZ,gallegos,ordaz
82978,MOISES H CAMARENA,TROY D BROWN,camarena,brown
149714,MARY F MARIANO,MICHAEL SILVESTRI,mariano,silvestri
195775,,,Empty Name,Empty Name
11980,LUCIA ARTEAGA,AFTAB DAWOOD,arteaga,dawood
9790,SYLWIA K SZAREK,KLIN LLC FORTUNE 1,szarek,klin llc fortune 1
12211,DAWANNA MCCRAY,,mccray,Empty Name
39193,ANDRE AND CAROLINA KAZIMIERSKI,TODD AND CHRISTINA GUZLAS,andre,todd
206720,MARIO SANTOYO,HUMBERTO HIGAREDA,santoyo,higareda
177975,MICHAEL W NELSON,MATTHEW R RYAN,nelson,ryan
49869,SHEILA CONNOLLY,GREGORY ZIBELL SUCCESSOR,connolly,zibell
217127,RYAN C OLSEN,MARY RONDENET,olsen,rondenet
11731,COUNTY OF COOK ILLINOIS,FEDERAL NATIONAL MORTGAGE,county of cook illinois,fannie mae
120305,,,Empty Name,Empty Name
86188,TBEP CORPORATION,JUDICAL SALES CORPORATION,tbep corporation,judical sales corporation
10878,ILLINOIS STATE TOLL HIGHW,CHRISTA PALIT,highw,palit
153236,ANTONIO TORRES NEVAREZ,GUADALUPE BURCIAGA,nevarez,burciaga
86951,JUDITH A SORENSEN-GRAEF,LEILA DURANOVIC,sorensen-graef,duranovic
82761,ADRIAN MUHO,DOUGLAS J FILKINS,muho,filkins
129786,LUZ LUNA,LAURA BERAN,luna,beran
152751,JOHN PATRICK KELLY,CHICAGO TITLE LAND TRUST,kelly,chicago title land trust
200817,JAMES N STOYNOFF,MARGARET M MCGUINNESS DE,stoynoff,de
46727,MATTHEW RALPH OLIVA,PAUL ANTON BIESCHKE,oliva,bieschke
125684,ASHLEY W OSHANA,TRACY GUNDERSON,oshana,gunderson
175869,LATHIA H DAVISON,MIGUEL GONZALEZ,davison,gonzalez
173456,HAVU INVESTED LLC,ELNORA PERSON,havu invested llc,person
127154,VINCENT H LATKOWSKI,MOIRA GITAU,latkowski,gitau
140515,MATTHEW WALTER ROEDER,DAVID W MATRE,roeder,matre
69331,MARTIN MCNICHOLAS,CAROLINE L CHRISTIAN,mcnicholas,christian
173881,GEORGINA AMADOR CRUZ,PATRICIA A LUCAS AND JEF,cruz,lucas
91280,TOMOHISA JINNO,JOHN J CAHILL,jinno,cahill
87144,ARI MADOFF,SAM GORAIL,madoff,gorail
195225,MELISSA DE GUZMAN QUINTOS,CARRISSA ALVERS,quintos,alvers
112185,ANITA NOORALI,MIKYUNG KIM,noorali,kim
166844,SITTHICHAI INSAMRAT,ERODE MERVEILLE,insamrat,merveille
72041,RODOLFO GAMEZ,,gamez,Empty Name
92539,JOSEPH GIURIN,JAMES AND SARA BIERSHBACH,giurin,james
24285,2098 OLD WILLOW RD LLC,CAROLYN STROM RAY,2098 old willow rd llc,ray
13711,HENRY D MCGHEE III,KAREN PATTERSON,mcghee,patterson
191797,JANINE WATTERS,MATEUSZ G KRUZEL,watters,kruzel
204873,JUANITA HARDNICK,COURTNEY CARSWELL,hardnick,carswell
174290,LAURA MARIE PEKARIK,KEVIN G KRUG,pekarik,krug
151171,ELVIS PERRY,RYAN ZANDSTRA AND LAURA L,perry,ryan zandstra and laura l
100393,AGUSTIN GARCIA RUIZ,GERARDO RODRIGUEZ,ruiz,rodriguez
159912,RICHARD KLEIN III,DONNA M WELCH,klein,welch
180799,JOSE L PARRA,,parra,Empty Name
469,CHARLES GAINEY,BRIAN M BUTLER,gainey,butler
75122,WOMEN EMPOWERED TOGETHER,CHRISTIANA TRUST A DIVIS,together,christiana trust a divis
217391,MICHAEL F G WHITE TRUS,JURIJS SIPELSKIS,white,sipelskis
42436,MICHAEL A LOMBARDO,LISA BELILES,lombardo,beliles
121430,JAMIE SARAH GORSON BENARIO,,benario,Empty Name
24232,MARGARITA ESPINOZA,NEIGHBORHOOD PROPERTY REN,espinoza,neighborhood property ren
123144,JULIO ZUMBA,INTERCOUNTY JUDICIAL SALE,zumba,intercounty judicial sale
73380,COLIN DANIELS,ANTHONY C DORNER,daniels,dorner
145265,DARRAN THOMAS,FIKRE M FENTAHUN,thomas,fentahun
204872,CHRISTOPHER P HOGAN,KERRI B KANTER,hogan,kanter
42584,ASHLEY N BOWEN,BRIAN INGRAM,bowen,ingram
45113,MICHELE D STONE,RAISSA P NIANGA,stone,nianga
119352,GLOBAL HOUSING LLC,NATIONSTAR REO SUB 1C LLC,global housing llc,nationstar reo sub 1c llc
163274,ANUJ ANSAL,HOMER H JOHNSON,ansal,homer h johnson
32552,LEROY L JACKSON,PAXTON9210 INC,jackson,paxton9210 inc
82837,DEBORAH S HARRIS,KATHI D WOOD,harris,wood
30993,,CARMEN RIHA,Empty Name,riha
3654,MATTHEW POCIUS,CHARLES W MURINO,pocius,murino
188822,PATRICK J SHERLOCK,,sherlock,Empty Name
115007,BPPO PROPERTIES 2020-1 LL,TRIPLE M MAZEL LLC,bppo properties 2020-1 ll,triple m mazel llc
71201,,JAMES J O DONNELL,Empty Name,donnell
133173,VERONICA MICHALOWSKI,METROURBAN MANAGEMENT COR,michalowski,metrourban management cor
52861,ALICIA M COOK,NANCY EKDAHL,cook,ekdahl
199082,MARVIC PAULO,LUCJA KOZLOWSKI,paulo,kozlowski
92989,WILLIAM J GOEING,KATHERINE HUIDOBRO,goeing,huidobro
106696,HILARY GALLAND,MN GROUP LLC,hilary galland,mn group llc
161494,BORIS KUSNETZOW,THOMAS J SCHULTZ,kusnetzow,schultz
202386,KATHERINE BOLONKOWSKA,DONALD MITROFF,bolonkowska,mitroff
146145,HAYA KHAN,LYNN REIGLING FKA LYNN RO,khan,reigling
9947,SERITA SANDERS,DOREEN GIVINGS,sanders,givings
8328,MICHAEL ALLEN ROBB,MARK FREDA OF VASHON WA,robb,wa
65669,LEE JONES,WELLS FARGO BANK N A AS,jones,wells fargo bank national
204763,DRAGISA DAVIDOVAC,SANDRA R LARSON AS SUCC,davidovac,larson
32772,MAXWELL BERNARD,,bernard,Empty Name
50162,JEFFREY MAHER,RICH NINOS,maher,ninos
162777,DANIEL RUSSELL,-,russell,-
44673,DAWN SOSA,JBSE INVESTMENTS LLC,sosa,jbse investments llc
36802,,,Empty Name,Empty Name
67385,RAMIRO GOMEZ,SUSAN F SAUCEDO TRUSTEE,gomez,saucedo
124761,EXCELLENCE INVESTMENT GRO,INTERCOUNTY JUDICIAL SALE,excellence investment gro,intercounty judicial sale
214448,ROBERT MAPES,DAVID KALEKO,mapes,kaleko
185572,MARCIN SABLIK,GEORGE A PECOULAS,sablik,pecoulas
146916,DAVID CARDONA,GERARDO BAEZ,cardona,baez
89953,GLOBAL PROPERTY EXCHANGE,LINDA BENNETT,global property exchange,bennett
21319,,,Empty Name,Empty Name
149628,ISRAEL J WILLIAMS JR,ALBERTO MONARREZ,williams,monarrez
199035,,,Empty Name,Empty Name
37651,DORCA JIMENEZ,ANTHONY MARTINICO,jimenez,martinico
73593,JULIO C OROZCO,SALVADOR ESPINOSA,orozco,espinosa
174010,CHICAGO TITLE LAND TRUST,ROBERT C JADERHOLM AS S,chicago title land trust,jaderholm
19667,ORLANDO HERNANDEZ JR,IH3 PROPERTY ILLINOIS LP,orlando hernandez jr,ih3 property illinois lp
7346,JULIE MITCHINER,SUUNY YURASEK,mitchiner,yurasek
134540,SAMANTHA L AND JASON P CR,KYLE BURSON,l,burson
152642,HP ILLINOIS I LLC,EDYTA SUDOMIRSKI,hp illinois i llc,sudomirski
198142,JENNIFER M FORILLO,LAWRENCE LEE-FOSHINBAUER,forillo,lee-foshinbauer
46972,DAVID PERALES,SPRINGVIEW HOMES LLC,perales,springview homes llc
163945,VICENTE A MARIN GARCIA,SUSAN LA,garcia,la
56800,ALEJANDRO BONILLA RODRIGUEZ,JOSE VASQUEZ,rodriguez,vasquez
25099,MICHELLE WALTER AS TRUSTE,BERNARDITA DESIERTO,walter,desierto
215846,,COREY CLAYBON,Empty Name,claybon
79150,LYNDA ZENATI,,zenati,Empty Name
18279,ALEX PANEK,MARTIN G QUILL,panek,quill
189689,DRE REALTY INVESTMENTS L,CYNTHIA SHUE,dre realty investments l,shue
51158,LEONARD CLIFTON,,clifton,Empty Name
188236,NASER N SANDUKA,GLORIA STRZALKOWSKI,sanduka,strzalkowski
206696,CARLOS R CABRERA,JEFFREY KLEIN,cabrera,klein
85483,VICTOR GRZEBICKI,U S BANK NATIONAL ASSOCI,grzebicki,us bank national association
48623,A amp C TRADING INC,GRANDVIEW CAPITAL LLC,a c trading inc,grandview capital llc
140409,JOHN BISCEGLIE,DUANE GARDINER INDEPENDEN,bisceglie,gardiner
51210,TIGER RE LLC-ILLINOIS,LAVERNE OLIVER-LANE,tiger re llc-illinois,oliver-lane
210418,MICHAEL CAPONE,,capone,Empty Name
113498,SALMAN H VORA,J N K PROPERTY MANAGEMENT,vora,j n k property management
46379,SAMUEL POST,WALTER RAYMOND MCCOLLOM,post,mccollom
39469,LIZBETTH GOMEZ,JVA MS CF I LLC,gomez,jva ms cf i llc
170110,,REID W STONER,Empty Name,stoner
106970,KROMAH J MAWATA,MARI SMELKO,mawata,smelko

In [36]:
(400-8)/400

0.98

In [37]:
(400-5)/400

0.9875

In [38]:
(400-7)/400

0.9825